{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--
<header style="background: black; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)">
    <h3 style="text-align: center;background: black">
        <div style="height:100px; background: black">
            <a class="" href="/">
                <img src="{% static 'images/logo.png' %}" style="width: 20%; background: black; padding-top: 30px">
            </a>
        </div>
    </h3>
    <hr class="hr-black">
</header>
{% if validlink %}
<div class="modal-dialog">
    <div class="modal-content modal-prop">
        <div class="modal-body">

            <form method="post">
                {% for error in form.non_field_errors %}
                {{error}}
                {% endfor %}
                {% csrf_token %}
                <br/><br/>
                <div class="form-group row justify-content-center">
                    <div class="col-7">
                        <input type="password" name="new_password1" id="id_new_password1" class="form-control input-lg "
                               placeholder="New Password"/>
                    </div>
                </div>

                <div class="form-group row justify-content-center">
                    <div class="col-7">
                        <input type="password" name="new_password2" id="id_new_password2" class="form-control input-lg"
                               placeholder="Confirm Password"/>
                    </div>
                </div>

                <div class="form-group row justify-content-center">
                    <div class="col-5">
                        <input type="submit" name="login-submit" id="login-submit"
                               class="btn btn-outline-success" value="Reset Password"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% else %}
<p class="text-center">
    The password reset link was invalid, possibly because it has already been used.
    Please request a new password reset.
</p>
{% endif %}
-->

<script>
 $(document).ready(function(){
    $("#id_new_password1").focus();
 });
</script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<section id="home">
    <div class="container zrupee-container zrupee-container1 col-xs-12 col-sm-10 col-md-8 col-lg-6 col-sm-offset-1 col-md-offset-2 col-lg-offset-3">
        <div class="col-sm-12">
            <div class="row homepage">


                <div class="col-sm-7 panel-right" >
                    <div class="login-panel">
                            <div class="col-xs-12">
                             <!--  <div class="login-section" > -->
                                 <div class="zrupee-logo">
                                     <img class="logo" src="{% static 'images/zrupeelogo.png' %}" height="20%">
                                 </div>

                                <div class="login-head title" align="center">
                                    <div class="heading1" align="center"><h4>Reset Password</h4></div>
                                </div>
                            </div>
                                {% if validlink %}
                                <div class="login-form">
                                    <form class="loginForm" role="form" name="loginForm" id="login-form" method="post" >
                                         {% for error in form.non_field_errors %}
                                            {{error}}
                                         {% endfor %}
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="password" name="new_password1" id="id_new_password1" class="form-control"  placeholder="New Password">
                                        </div>

                                        <div class="form-group">
                                            <input type="password" name="new_password2" id="id_new_password2" class="form-control" placeholder="Confirm New Password">
                                        </div>

                                        <div class="form-group btn-submit">
                                            <b><input type="submit" class="btn btn-lg  btn-danger" name="login-submit" id="login-submit" value="Reset Password" style="color : white ;font-size : 20px; "></b>
                                        </div>


                                    </form>
                                </div>
                                {% else %}
                                    <br>
                                    <p class="text-center">
                                        The password reset link was invalid, possibly because it has already been used.
                                        Please request a new password reset.
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                </div>


            </div>
        </div>

    </div>
</section>

{% endblock %}