{% extends 'base.html' %}
{% load static %}
{% block logincontent %}

<div class="container">
    <div class="login-head">
        <div class="heading"><h6 class="intro-header">Privacy  Policy</h6></div>
    </div>
    <br>

    <p>
        Zrupee Online Services Private Limited (ZOSPL) is registered and headquartered at Office
        no 503, 5th Floor, D Definity Building, Jay Prakash, Above Axis Bank, Road No 1, Goregaon
        East Mumbai – 400063 hereinafter referred to as Zrupee, values your trust &amp; respects your
        privacy. This Privacy Policy provides you with details about the manner in which your data is
        collected, stored &amp; used by us. You are advised to read this Privacy Policy carefully. By
        visiting Zrupee CMS Website, you expressly give us your consent to use &amp; disclose your
        personal information in accordance with this Privacy Policy. If you do not agree to the terms
        of the policy, please do not use or access Zrupee CMS Website. Note: Our privacy policy
        may change at any time without any prior notification. To make sure that you are aware of
        any changes, kindly review the policy periodically. This Privacy Policy shall apply uniformly
        to Zrupee CMS Website.
    </p>
    <b>General</b>
    <p>
        Zrupee will not sell, share or rent your personal information to any 3rd party or use your email
        address/mobile number for unsolicited emails and/or SMS. Any emails and/or SMS sent by
        Zrupee will only be in connection with the provision of agreed services &amp; products and this
        Privacy Policy. Periodically, Zrupee may reveal general statistical information about Zrupee &amp; its
        users, such as number of visitors, number and type of goods and services purchased, etc.
        Zrupee reserves the right to communicate your personal information to any third party that makes
        a legally-compliant request for its disclosure.
    </p>

    <b>Personal Information</b>
    <p>
        Personal Information means and includes all information that can be linked to a specific
        individual or to identify any individual, such as name, address, telephone number, email ID, credit
        card number, cardholder name, card expiration date, information about your mobile phone, DTH
        service, data card, electricity connection and any details that may have been voluntarily provided
        by the user in connection with availing any of the services on Zrupee Wallet. When you browse
        through Zrupee, Zrupee may collect information regarding the domain and host from which you
        access the internet, the Internet Protocol [IP] address of the computer or Internet service provider
        [ISP] you are using, and anonymous site statistical data.
    </p>
    <b>Use of Personal Information</b>
    <p>
        Zrupee uses personal information to provide you with services &amp; products you explicitly
        requested for, to resolve disputes, troubleshoot concerns, help promote safe services, collect
        money, measure consumer interest in our services, inform you about offers, products, services,
        updates, customize your experience, detect &amp; protect us against error, fraud and other criminal
        activity, enforce our terms and conditions, etc. Zrupee also uses your contact information to send
        you offers based on your previous orders and interests.
    </p>

    <b>Do we use Cookies?</b>
    <p>
        Yes. Cookies are small files that a site or its service provider transfers to your computer&#39;s hard
        drive through your web browser (if you allow) that enables the site&#39;s or service provider&#39;s systems
        to recognize your browser and capture and remember certain information. For instance, we use
        cookies to help us remember and process the items in your web browser. They are also used to
        help us understand your preferences based on previous or current site activity, which enables us
        to provide you with improved services. We also use cookies to help us compile aggregate data
        about site traffic and site interaction so that we can offer better site experiences and tools in the
        future.
    </p>

    <b>Security</b>
    <p>
        Zrupee has stringent security measures in place to protect the loss, misuse, and alteration of the
        information under our control. Whenever you change or access your account information, Zrupee
        offers the use of a secure server. Once your information is in our possession, Zrupee adheres to
        strict security guidelines, protecting it against unauthorized access.
    </p>

    <b>Consent</b>
    <p>
        By using Zrupee and/or by providing your information, you consent to the collection and use of
        the information you disclose on Zrupee in accordance with this Privacy Policy, including but not
        limited to your consent for sharing your information as per this privacy policy.
    </p>
</div>
{% endblock %}