{% extends 'base.html' %}
{% load static %}
{% block logincontent %}

<div class="terms">
<div class="container">
    <div class="login-head">
        <div class="heading"><h6 class="intro-header">Terms and Conditions</h6></div>
    </div>
    <br>
    <p>
        By agreeing to these Terms and Conditions agreement, you are acknowledging to be bound by
        these &quot;Terms and Conditions&quot; after having read, understood and agreeing by your free will and
        without any coercion or force. The provision of services to you is subject to these terms and
        conditions:
    </p>
    <p>
        1. The Payment Services are being offered to you by Zrupee Online Services Private Limited
        Company incorporated and registered under the Companies Act, 2013 and having its Registered
        Office no 503, 5th Floor, D Definity Building, Jay Prakash, Above Axis Bank, Road No 1,
        Goregaon East Mumbai – 400063 (hereinafter referred to as Zrupee).
    </p>
    <p>
        2. By completing the application form to become a merchant, you are authorizing Zrupee to
        obtain financial / company / credit information (including from third parties) relating to you and
        /or relating to any of your authorized signatories, directors and officers.
    </p>
    <p>
        3. You hereby acknowledge and understand that through the Payment Service, Zrupee is only
        providing a method of payment to your customers for the goods/services offered by you. Zrupee
        does not have any role or any part in the provision of goods/services to your customers and at no
        time shall Zrupee be held responsible for the delivery, delivery commitment, quality or quantity
        of goods/services offered by you to your customers. All issues in regards to delay in delivery,
        customer dissatisfaction due to quality/quantity/delay in delivery shall exclusively be handled by
        you and you shall solely be responsible for ensuring that the payment received is refunded or
        credited back to the customer.
    </p>
    <p>
        4. Zrupee shall at all times remain the sole owner and have exclusive rights of its Intellectual
        Property which includes but is not limited to: (a) trademarks and service marks (registered and
        unregistered), trade names, and goodwill associated therewith; (b) patents, patentable inventions,
        computer programs, and software; (c) databases; (d) trade secrets and the right to limit the use or
        disclosure thereof; (e) copyrights in all works, including software programs; and (f) domain
        names. Neither you nor any other user of Zrupee Services shall have any right, ownership or
        claim over the intellectual property of Zrupee.
    </p>
    <p>
        5. By using the Zrupee Payment Services, you are aware and consenting to provide Zrupee with
        access to collecting your personal, professional and business data and to use this collected
        information for provision of the Zrupee Payment Gateway Services.
    </p>
    <p>
        6. Zrupee has the rights to reserve or retain a portion of your Payout Amounts, in order to protect
        itself against the risk of Chargebacks, or any other risk, exposure and/or liability related to your
        use of the Payment Gateway Services.
    </p>
    <p>
        7. Zrupee does not give any merchant the rights, in any manner, to rent, lease or otherwise
        transfer its rights to use the software to any third party.
    </p>
    <p>
        8. Zrupee is not being liable for all or any resulting damages suffered by you or any third party.
        Due to non-compliance with instructions, implementation and use requirements provided by
        Zrupee.
    </p>
    <p>
        9. You hereby expressly agree that:
        a) you are not in violation of any law, rules, regulation of the country and shall ensure to comply
           and abide by the laws of India at all times;
        b) You are not restricted under any law prevailing in India from entering into this Agreement;
        c) You shall refrain from using the Zrupee Payment Services in a manner that will result in a
           violation of anti-money laundering, counter terrorist financing and/or such similar illegal
           activities;
        d) You shall not fail to provide Zrupee with any information requested by it from time to time
           and that such information shall not be false, incomplete, inaccurate or misleading;
        e) You shall ensure to comply with all relevant guidelines issued by MasterCard, Visa, Visa
           Electron, Maestro, and other Card guidelines, NPCI Associations and/or RBI with regards to
           online payments.
    </p>
    <p>
        10. If Zrupee has reason to believe that there is a higher than normal risk associated with your
        transactions, Zrupee may take various actions to avoid refunds, reversals, chargebacks, fees,
        fines, penalties and any other liability. The actions Zrupee may take include but are not limited
        to:
        a) Suspending your right to use the Zrupee Payment Services;
        b) Refuse any Transaction at any time;
        c) Change the Payout Cycle to T+3 or higher or as mandated by RBI or the competent authority
           from time to time.
    </p>
    <p>
        11. Zrupee Payment Gateway Service is provided &quot;as is&quot; without any warranty whatsoever and
        Zrupee hereby disclaims all warranties, express, implied, or statutory, as to any matter
        whatsoever, including all implied warranties of merchantability, fitness for a particular purpose
        and non-infringement of third party rights.
    </p>
    <p>
        12. Zrupee Payment Service is an internet and computer network based service which may be
        subject to outages and delay occurrences. Furthermore Zrupee is also dependent upon its Partner
        Bank networks and these may occasionally be restricted due to various reasons beyond its
        control. Zrupee hence will not be responsible for any outages or delays due to such occurrences
        up to a reasonable time. You acknowledge that your access to the Zrupee business
        website/Zrupee Payment Gateway Services and related applications may be occasionally
        restricted with prior intimation to allow for repairs, maintenance or the introduction of new
        facilities or services.
    </p>
    <p>
        13. The relationship between you and Zrupee is on a Principal to Principal basis. At no time shall
        Zrupee be considered your agent or vice versa.
    </p>
    <p>
        14. You are required to take all reasonable steps to protect the security of your electronic devices
        through which you access the Zrupee Payment Services. Zrupee shall under no circumstance be
        held responsible for any loss or damage incurred by you which is caused due to your sole
        negligence.
    </p>
    <p>
        15. Zrupee may from time to time change these terms and conditions and shall intimate you of
        the new Terms and Conditions. Your continued use of the services after such change shall deem
        to mean that you have accepted the new Terms and Conditions. You may stop using the services
        if the changes are not acceptable.
    </p>
    <p>
        16. This Agreement shall be governed by the Laws applicable in India. The Courts of Mumbai
        shall have exclusive jurisdiction over any dispute that arises from this Agreement.
    </p>
</div>
</div>
{% endblock %}