{% extends 'base.html' %}
{% load static %}
{% block title %} Commissions List {% endblock %}

{% block content %}
    <div class="content-wrapper scrollbar scrollbar-black bordered-black">
        <p class="head-right">Commissions</p>
        <div class="row align-items-center">
            <div>
                <p class="inr">Net Commission INR {% if total_commission %} {{ total_commission }} {% else %} 0 {% endif %}</p>
            </div>
            <div>
                {% if not request.user.is_superuser and request.user.zr_admin_user.role.name != "ADMINSTAFF" and request.user.zr_admin_user.role.name != "OPERATIONS"%}
                    <input class="btn btn-outline-success float-right ml-4" type="button" value="Settle Commission" id="settle-comm" data-toggle="modal" data-target="#confirm_settlement">
                {% endif %}
            </div>
        </div>
        <div class="row rm-margin-side">
            <div class="col-6 col-lg-2 mt-2">
                <input id="start-date" name="startDate" value="{{startDate}}" placeholder="From" data-toggle="tooltip" data-placement="top" title="Commission Created: From"/>
            </div>
            <div class="col-6 col-lg-2 mt-2">
                <input id="end-date" name="endDate" value="{{endDate}}" placeholder="To" data-toggle="tooltip" data-placement="top" title="Commission Created: To"/>
            </div>

            <div class="col-6 col-lg-3 mt-2 float-left">
                <input class="form-control form-control" id="search-txt" type="search" name="search" value="{{ q }}" placeholder="Search by Name, Mobile, Bank, Amount">
            </div>
            <div class="col-2 col-lg-1 mt-2">
                <button class="btn btn-outline-dark" type="button" id="search-btn" data-toggle="tooltip" data-placement="top" title="Search">
                    <i class="fa fa-search"></i>
                </button>
            </div>
            <div class="col-2 col-lg-1 mt-2">
                <a href="{% url 'commission:display-commission' %}" data-toggle="tooltip" data-placement="top" title="Clear Filters">
                    <img src="{% static 'images/clearfilter.png' %}" height="30">
                </a>
            </div>
            <div class="col-2 col-lg-1 mt-2" data-toggle="tooltip" data-placement="top" title="Download CSV">
                <img src="{% static 'images/downloadcsv.png' %}" height="30" id="csv-download" class="float-right"
                 style="cursor: pointer;">
            </div>
            {% csrf_token %}
        </div>
        <br>
        <div class="row rm-margin-side">
            <div class="row scroll div-width-100" style="overflow: auto;">
                <div class="div-width-100">
                    <table id="data" class="table table-hover table-data">
                        <thead>
                            <tr style="border-bottom-style: solid;">
                                <th scope="col">Tran. ID</th>
                                <th scope="col">Tran. Amount</th>
                                <th scope="col">Tran. Type</th>
                                <!--<th scope="col">Gross Commission</th>-->
                                <th scope="col">Commission Earned</th>
                                <th scope="col">TDS amount</th>
                                <!--<th scope="col">GST amount</th>-->
                                <!--<th scope="col">Net Commission</th>-->
                                <th scope="col">Settled</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for com in commissions.object_list %}
                                <tr>
                                    <td>{{ com.transaction_id }}</td>
                                    <td>{{ com.transaction.amount }}</td>
                                    <td>{{ com.transaction.type.name }}</td>
                                    <!--<td>{{ com.gross_amount|floatformat:"2" }}</td>-->
                                    <td>{{ com.user_commission|floatformat:"2" }}</td>
                                    <td>{{ com.user_tds|floatformat:"2" }}</td>
                                    <!--<td>{{ com.user_gst|floatformat:"2" }}</td>-->
                                    <!--<td>{{ com.net_commission|floatformat:"2" }}</td>-->
                                    <td>{{ com.is_settled }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="pagination">
                        {% if commissions.has_previous %}
                            <div class="pagination-prev">
                                <a href='{% url "commission:display-commission" %}?{{ prev_page_qs }}' class="btn btn-outline-dark">Prev</a>
                            </div>
                        {% endif %}
                        {% if commissions.has_next %}
                            <div class="pagination-next">
                                <a href='{% url "commission:display-commission" %}?{{ next_page_qs }}' class="btn btn-outline-dark">Next</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal HTML Markup -->
    <div id="confirm_settlement" class="modal fade" data-backdrop="static">
        <div class="modal-dialog" role="document">
        <form class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title">
                    Settle Commission
                </h3>
            </div>
            <div class="modal-body text-dark text-center">
                Are you sure you want to Settle Commission ?
            </div>
            <div class="modal-footer btn-block-group" style="align-self: center;">
                <div class="modal-footer" style="text-align:center">
                    <button type="button" class="btn btn-success btn-small max-225 settle_commission_confirm">Yes
                    </button>
                    <button type="button" class="btn btn-danger btn-small max-225" data-dismiss="modal">No</button>
                </div>
            </div>
        </form>
        </div>
    </div>

    <script>
    $(document).ready(function(){
        var startDate = $('#start-date').val();
        var endDate = $('#end-date').val();

        $("#search-txt").focus();
        var search_txt_val = $("#search-txt").val();
        $("#search-txt").val('');
        $("#search-txt").val(search_txt_val);

        function q(){
            if($('#search-txt').val() != "") {
                url = window.location.pathname + "?q=" + $('#search-txt').val();
            } else {
                url = window.location.pathname + '?';
            }

            if(startDate!="" && endDate!="" ) {
                url +=  '&startDate='+ $('#start-date').val() +'&endDate='+ $('#end-date').val();
            }

            window.location.assign(url)
        }

        $('#search-btn').click(q);

        $("#search-txt").keypress(function(event) {
            if (event.which == 13) {
               q();
            }
        });

        var today = new Date(new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate());

        $('#start-date').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            format: 'yyyy-mm-dd',

            maxDate: function () {
                return new Date($('#end-date').val()) == '' ? today: ( new Date($('#end-date').val()) < today ? $('#end-date').val() : today);
            }
        }).on('change', function (ev)
         {

            var start = $("#start-date").val();
            var startD = new Date(start);
            var end = $("#end-date").val();
            var endD = new Date(end);
            var diff = parseInt((endD.getTime()-startD.getTime())/(24*3600*1000));

            $("#days").val(diff);

            if(diff>31)
            {
               alert("date difference is greater than 31");
               $('#start-date').val("");
            } else if ($("#start-date").val() != '' && $("#end-date").val() != ''){}
         });


        $('#end-date').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            format: 'yyyy-mm-dd',

            minDate: function () {
                return $('#start-date').val();
            },  maxDate: function () {
                return today;
            }
        }).on('change', function (ev)
         {

            var start = $("#start-date").val();
            var startD = new Date(start);
            var end = $("#end-date").val();
            var endD = new Date(end);
            var diff = parseInt((endD.getTime()-startD.getTime())/(24*3600*1000));

            $("#days").val(diff);

            if(diff>31)
            {
               alert("date difference is greater than 31");
               $('#end-date').val("");
            } else if ($("#start-date").val() != '' && $("#end-date").val() != ''){}
         });
     })

    </script>

    <script>
        $('#csv-download').click(function(){
            window.location.assign('{% url "commission:commission-request-csv" %}')
        })
    </script>
{% endblock %}

{% block extrascripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>

    <script>
      var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


        $('body')
            .on('click', '#settle-comm', function(e) {
                if ({{total_commission}} == 0.00) {
                    alert("There are no commissions to settle. All commissions are already settled");
                    e.target.blur();
                    e.stopPropagation();
                }
            })
            .on('click', '.settle_commission_confirm', function() {
                $('.settle_commission_confirm').addClass('disabled')
                $('.settle_commission_confirm').prop('disabled', true)

                var user_id = "{{user_id}}"
                var ids = "{{ids}}"
                var total_commission = "{{total_commission}}"
                <!-- AJAX Call -->
                data = {
                    'user_id': user_id,
                    'total_commission': total_commission,
                    'ids': ids
                };

                data = JSON.stringify(data);
                console.log(data);
                $.ajax({
                    type: "POST",
                    url: '/commission/settle_commission/',
                    dataType: 'json',
                    data: data,
                    success: function (data) {
                        setTimeout(function () {
                            window.location.reload();
                        }, 1000);
                    },
                    error: function (data) {
                        setTimeout(function () {
                            console.log('data',data);
                            window.location.reload();
                        }, 1000);
                    }
                });
                <!-- AJAX Call -->
            })

    </script>
{% endblock extrascripts %}
