{% extends 'base.html' %}
{% load static %}
{% block title %} Payment Requests List {% endblock %}

{% block content %}
    <div class="content-wrapper scrollbar scrollbar-black bordered-black">
        <p class="head-right">Payment Requests</p>
        <div class="row rm-margin-side">
            <div class="col-6 col-lg-2 mt-2">
                <input id="start-date" name="startDate" value="{{startDate}}" placeholder="From" data-toggle="tooltip" data-placement="top" title="Payment Request Date: From"/>
            </div>
            <div class="col-6 col-lg-2 mt-2">
                <input id="end-date" name="endDate" value="{{endDate}}" placeholder="To" data-toggle="tooltip" data-placement="top" title="Payment Request Date: To"/>
            </div>
            <div class="col-12 col-lg-2 mt-2" data-toggle="tooltip" data-placement="top" title="Select User">
                <select id="from-user-id" name="from-user-id">
                    <option value="-1">ALL</option>
                    {% for fromuser in fromuser_list %}
                        <option value="{{fromuser.from_user_id}}"{% if fromuser.from_user_id == from_user_id %}selected{% endif %}>{{fromuser.from_user.first_name}} - {{fromuser.from_user.last_name}}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="col-6 col-lg-3 mt-2 float-left">
                <input class="form-control form-control" id="search-txt" type="search" name="search" value="{{ q }}" placeholder="Search by Name, Mobile, Bank, Amount">
            </div>
            <div class="col-2 col-lg-1 mt-2">
                <button class="btn btn-outline-dark" type="button" id="search-btn" data-toggle="tooltip" data-placement="top" title="Search">
                    <i class="fa fa-search"></i>
                </button>
            </div>
            <div class="col-2 col-lg-1 mt-2">
                <a href="{% url 'payment-requests:payment-request-list' %}" data-toggle="tooltip" data-placement="top" title="Clear Filters">
                    <img src="{% static 'images/clearfilter.png' %}" height="30">
                </a>
            </div>
            <div class="col-2 col-lg-1 mt-2 float-right" data-toggle="tooltip" data-placement="top" title="Download CSV">
                <img src="{% static 'images/downloadcsv.png' %}" height="30" id="csv-download" class="float-right"
                 style="cursor: pointer;">
            </div>
            
            {% csrf_token %}
            <input type="hidden" id="request_id" value="">
            
            <div class="div-width-100">
                <br>
                <div class="row scroll">
                    <div class="div-width-100">
                        <table id="data" class="table table-hover table-data">
                            <tr style="border-bottom-style: solid;">
                                <th scope="col">Id</th>
                                <th scope="col">Actions</th>
                                <th scope="col">Status</th>
                                <th scope="col">Date</th>
                                <th scope="col">Amount</th>
                                <!--<th scope="col">Challan document</th>-->
                                <th scope="col">From User</th>
                                <th scope="col">Ref Id</th>
                                <th scope="col">Payment Mode</th>

                                <th scope="col">Sales Agent</th>
                                <!--<th scope="col">From Bank Account Number</th>-->
                                <th scope="col">To Bank Acc. No.</th>
                                <!--<th scope="col">From bank</th>-->
                                <th scope="col">To bank</th>
                            </tr>
                            {% for payment_request in queryset %}
                                <tr>
                                    <td>{{payment_request.pk}}</td>
                                    <td>
                                        {% if is_superuser %}
                                            {% with payment_request.pk as payment_id %}
                                                {% if payment_request.status == 0 %}
                                                    <input type="button" class="btn btn-outline-success btn-xs payment change_request_id" value="Approve" data-toggle="modal" data-target="#confirm_approve" data-slug-id="{{ payment_request.pk }}">
                                                    <input type="button" class="btn btn-outline-danger btn-xs payment change_request_id" value="Reject" data-toggle="modal" data-target="#confirm_reject" data-slug-id="{{ payment_request.pk }}">
                                                {% endif %}
                                            {% endwith %}
                                        {% else %}
                                            {% if wallet.dmt_balance >= payment_request.dmt_amount and wallet.non_dmt_balance >= payment_request.non_dmt_amount %}
                                                {% with payment_request.pk as payment_id %}
                                                    {% if payment_request.status == 0 %}
                                                        <input type="button" class="btn btn-outline-success btn-xs payment change_request_id" value="Approve" data-toggle="modal" data-target="#confirm_approve" data-slug-id="{{ payment_request.pk }}">
                                                        <input type="button" class="btn btn-outline-danger btn-xs payment change_request_id" value="Reject" data-toggle="modal" data-target="#confirm_reject" data-slug-id="{{ payment_request.pk }}">
                                                    {% endif %}
                                                {% endwith %}
                                            {% else %}
                                                {% if payment_request.status == 0 %}
                                                    {% if wallet.dmt_balance < payment_request.dmt_amount and wallet.non_dmt_balance < payment_request.non_dmt_amount %}
                                                        Insufficient balance in DMT and NON DMT wallets
                                                    {% elif not wallet.dmt_balance >= payment_request.dmt_amount %}
                                                        Insufficient balance in DMT wallet
                                                    {% elif not wallet.non_dmt_balance >= payment_request.non_dmt_amount %}
                                                        Insufficient balance in Non DMT wallet
                                                    {% endif %}
                                                {% endif %}
                                        {% endif %}{% endif %}
                                    </td>
                                    <td>
                                        {% if payment_request.status == 0 %}
                                            Pending
                                        {% elif payment_request.status == 1 %}
                                            Accepted
                                        {% elif payment_request.status == 2 %}
                                            Rejected
                                        {% elif payment_request.status == 3 %}
                                            Revoked
                                        {% else %}
                                        {% endif %}
                                    </td>
                                    <td>{{ payment_request.at_created }}</td>
                                    <td>{{ payment_request.amount }}</td>
                                    <!--<td><a class="btn btn-outline-success btn-xs" href="{{ payment_request.document }}">Download</a></td>-->
                                    <td>
                                        {{ payment_request.from_user.get_full_name }}
                                    </td>
                                    <td>{{ payment_request.ref_no|default_if_none:"N/A" }}</td>
                                    <td>{{ payment_request.payment_mode.name }}</td>
                                    
                                    <td>
                                        {{payment_request.from_user.sales_agent}}
                                    </td>
                                    <!--<td>-->
                                        <!--{{ payment_request.from_account_no }}-->
                                    <!--</td>-->
                                    <td>
                                        {{ payment_request.to_account_no }}
                                    </td>
                                    <!--<td>-->
                                        <!--{{ payment_request.from_bank.bank_name }}-->
                                    <!--</td>-->
                                    <td>
                                        {{ payment_request.to_bank.bank_name }}
                                    </td>
                                    
                                    <!--<td>-->
                                       <!--{# {% if payment_request.status == 1 and not payment_request.status == 3 %}#}-->
                                          <!--{#   <input type="button" class="btn btn-outline-success payment change_request_id confirm_refund_select" value="Revoke" data-toggle="modal" data-target="#confirm_refund" data-slug-id="{{ payment_request.pk }}">#}-->
                                       <!--{#{% endif %}#}-->
                                    <!--</td>-->
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    {% if is_paginated %}
                        {% if has_prev_page %}
                            <div class="pagination-prev">
                                <a href="{% url 'payment-requests:payment-request-list' %}?{{prev_page_qs}}" class="btn btn-outline-dark" >Prev</a>
                            </div>
                        {% endif %}
                        {% if has_next_page %}
                            <div class="pagination-next">
                               <a href="{% url 'payment-requests:payment-request-list' %}?{{next_page_qs}}" class="btn btn-outline-dark" >Next</a>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

        <!-- Modal HTML Markup -->
    <div id="confirm_approve" class="modal fade" data-backdrop="static">
        <div class="modal-dialog" role="document">
        <form class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title">
                    Payment Request
                </h3>
            </div>
            <div class="modal-body text-dark text-center">
                Are you sure want to Approve payment request ?
            </div>
            <p id="modal_message" class="text-dark text-center mb-2"></p>
            <textarea rows="3" cols="20" style="min-width: 70%; margin:auto; display:block;" id="comments" placeholder="Comment (Optional)"></textarea>
            <div class="modal-footer btn-block-group" style="align-self: center;">
                <div class="modal-footer" style="text-align:center">
                    <button type="button" class="btn btn-outline-success btn-sm max-225 approve_payment_confirm">Yes
                    </button>
                    <button type="button" class="btn btn-outline-danger btn-sm max-225" data-dismiss="modal">No</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div id="confirm_refund" class="modal fade" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <form class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title">
                    Payment Revoke
                </h3>
            </div>
            <div class="modal-body text-dark text-center">
                Are you sure want to Revoke payment request?
            </div>
            <div class="modal-footer btn-block-group" style="align-self: center;">
                <div class="modal-footer" style="text-align:center">
                    <button type="button" id="confirm_refund_btn" class="btn btn-outline-success btn-sm max-225 confirm_refund_btn" loading-text="Yes">Yes
                    </button>
                    <button type="button" class="btn btn-outline-danger btn-sm max-225" data-dismiss="modal">No</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- /.modal -->

<!-- Modal HTML Markup -->
<div id="confirm_reject" class="modal fade" data-backdrop="static" style="margin: 0 20px;
    padding: 5px;
    line-height: 20px;">
    <div class="modal-dialog" role="document">
        <form class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title">
                    Payment Request
                </h3>
            </div>
            <div class="modal-body text-dark text-center">
                Are you sure want to Reject payment request?
            </div>
            <textarea rows="3" cols="20" style="min-width: 70%; margin:auto; display:block;" id="rejection_reason" placeholder="Reason for rejection"></textarea>
            <div class="modal-footer btn-block-group" style="align-self: center;">
                <div class="modal-footer" style="text-align:center">

                    <button type="button" class="btn btn-outline-success btn-sm max-225 reject_payment_confirm">Yes
                    </button>
                    <button type="button" class="btn btn-outline-danger btn-sm max-225" data-dismiss="modal">No</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- /.modal -->

<script>
$(document).ready(function()
    {
    $('#from-user-id').select2();
    window.current_payment_request = null

    $("#search-txt").focus();
    var search_txt_val = $("#search-txt").val();
    $("#search-txt").val('');
    $("#search-txt").val(search_txt_val);

    function q(){
        from_user_id = $("#from-user-id").val();
        startDate = $('#start-date').val();
        endDate = $('#end-date').val();

        if($('#search-txt').val() != "") {
            url = window.location.pathname + "?q=" + $('#search-txt').val();
        } else {
            url = window.location.pathname + '?';
        }

        if(from_user_id !="") {
            url += '&from_user_id=' + from_user_id
        }

        if(startDate!="" && endDate!="" ) {
            url +=  '&startDate='+ $('#start-date').val() +'&endDate='+ $('#end-date').val();
        }

        window.location.assign(url)
    }
    $("#from-user-id").change(q);

    $('#search-btn').click(q);

    $("#search-txt").keypress(function(event) {
        if (event.which == 13) {
           q();
        }
    });

    $('#csv-download').click(function(){
        url = '{% url "payment-requests:payment-request-csv" %}' + window.location.search
        window.location.assign(url)
    })

         var startDate = $('#start-date').val();
         var endDate = $('#end-date').val();
         var today = new Date(new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate());
        $('#start-date').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            format: 'yyyy-mm-dd',

            maxDate: function () {
                return new Date($('#end-date').val()) == '' ? today: ( new Date($('#end-date').val()) < today ? $('#end-date').val() : today);
            }
        }).on('change', function (ev)
         {

            var start = $("#start-date").val();
            var startD = new Date(start);
            var end = $("#end-date").val();
            var endD = new Date(end);
            var diff = parseInt((endD.getTime()-startD.getTime())/(24*3600*1000));

            $("#days").val(diff);

            if(diff>31)
            {
               alert("date difference is greater than 31");
               $('#start-date').val("");
            }
         });

         $('#end-date').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            format: 'yyyy-mm-dd',

            minDate: function () {
                return $('#start-date').val();
            },  maxDate: function () {
                return today;
            }
        }).on('change', function (ev)
         {

            var start = $("#start-date").val();
            var startD = new Date(start);
            var end = $("#end-date").val();
            var endD = new Date(end);
            var diff = parseInt((endD.getTime()-startD.getTime())/(24*3600*1000));

            $("#days").val(diff);

            if(diff>31)
            {
               alert("date difference is greater than 31");
               $('#end-date').val("");
            }
         });
        });


</script>
{% endblock %}


{% block extrascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script>

     // using jQuery
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

         $('body')
             .on('click', '.change_request_id',function() {
                 $('#request_id').val($(this).attr('data-slug-id'));
             })

            .on('click','.approve_payment_confirm',function() {
                $('.approve_payment_confirm').addClass('disabled')
                $('.approve_payment_confirm').prop('disabled', true)
                var request_id = $('#request_id').val();
                console.log(request_id);
                var comments = document.getElementById("comments").value;
                <!-- AJAX Call -->
                data = {
                    'request_id': request_id,
                    'comments': comments
                };
                data = JSON.stringify(data);
                console.log(data);
                $.ajax({
                    type: "POST",
                    url: '/payment_request/accept_payment_request/',
                    dataType: 'json',
                    data: data,
                    success: function (data) {
                        //console.log('data', data);
                        $('#modal_message').html(data.message);

                        setTimeout(function () {
                            window.location.reload();
                        }, 1000);
                    },
                    error: function (data) {
                        setTimeout(function () {
                            window.location.reload();
                        }, 1000);
                    }
                });
                <!-- AJAX Call -->
            })

            .on('click','.reject_payment_confirm',function() {
                var request_id = $('#request_id').val();
                console.log(request_id);
                <!-- AJAX Call -->
                var rejection_reason = document.getElementById("rejection_reason").value;
                if (!rejection_reason){
                    alert('Please enter reason for rejection');
                    return;
                }
                data = {
                    'request_id': request_id,
                    'rejection_reason': rejection_reason
                };
                data = JSON.stringify(data);
                console.log(data);
                $.ajax({
                    type: "POST",
                    url: '/payment_request/reject_payment_request/',
                    dataType: 'json',
                    data: data,
                    success: function (data) {
                        console.log(data);
                        $('#confirm_reject').toggle();
                        if (data.success) {
                            setTimeout(function () {
                                window.location.reload();
                            }, 1000);
                        }
                    },
                    error: function (data) {
                        setTimeout(function () {
                            window.location.reload();
                        }, 1000);
                    }
                });
                <!-- AJAX Call -->
            });

        $("#timespan-filter").change(
            function() {
                var input = document.getElementById("timespan-filter");
                url = "{{ request.path }}?filter=" + input.value;
                {% if q %}
                    url += "&q={{ q }}";
                {% endif %}
                window.location = url
            }
        );

        $('.confirm_refund_select').click(function(){
            window.current_payment_request = $(this).attr('data-slug-id')
            console.log(window.current_payment_request);
        })

        $('.confirm_refund_btn').click(
            function(e) {
                $('#confirm_refund_btn').addClass('disabled')
                $('#confirm_refund_btn').prop('disabled', true)
                window.location = '{% url "payment-requests:refund-request-view" %}?payment_request=' + window.current_payment_request;
            }
        )

</script>
{% endblock extrascripts %}
