{% extends 'base.html' %}
{% load static %}
{% block title %} Payment Requests List {% endblock %}

{% block content %}

<div class="content-wrapper scrollbar scrollbar-black bordered-black">
    <p class="head-right">Payment Request Sent</p>
    <div class="row rm-margin-side">
        <div class="col-6 col-lg-2 mt-2">
            <input id="start-date" name="startDate" value="{{startDate}}" placeholder="From" data-toggle="tooltip" data-placement="top" title="Payment Request Date: From"/>
        </div>
        <div class="col-6 col-lg-2 mt-2">
            <input id="end-date" name="endDate" value="{{endDate}}" placeholder="To" data-toggle="tooltip" data-placement="top" title="Payment Request Date: To"/>
        </div>
        <div class="col-12 col-lg-2 mt-2" data-toggle="tooltip" data-placement="top" title="Select User">
            <select id="to-user-id" name="to-user-id">
                <option value="-1">ALL</option>
                {% for touser in touser_list %}
                <option value="{{touser.to_user_id}}" {% if touser.to_user_id == to_user_id %}selected{% endif %}>
                    {{touser.to_user.first_name}} - {{touser.to_user.last_name}}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-6 col-lg-3 mt-2 float-left">
                <input class="form-control form-control" id="search-txt" type="search" name="search" value="{{ q }}" placeholder="Search by Name, Mobile, Bank, Amount">
        </div>
        <div class="col-2 col-lg-1 mt-2">
            <button class="btn btn-outline-dark" type="button" id="search-btn" data-toggle="tooltip" data-placement="top" title="Search">
                <i class="fa fa-search"></i>
            </button>
        </div>
        <div class="col-2 col-lg-1 mt-2">
            <a href="{% url 'payment-requests:payment-request-sent-view' %}" data-toggle="tooltip" data-placement="top" title="Clear Filters">
                <img src="{% static 'images/clearfilter.png' %}" height="30">
            </a>
        </div>
        <div class="col-2 col-lg-1 mt-2 float-right" data-toggle="tooltip" data-placement="top" title="Download CSV">
            <img src="{% static 'images/downloadcsv.png' %}" height="30" id="csv-download" class="float-right"
             style="cursor: pointer;">
        </div>
        
        {% csrf_token %}
        <input type="hidden" id="request_id" value="">
    
        <div class="div-width-100">
            <br>
            <div class="row scroll">
                <div class="div-width-100">
                    <table id="data" class="table table-hover table-data">
                        <tr style="border-bottom-style: solid;">
                            <th scope="col">Status</th>
                            <th scope="col">Date</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Payment Mode</th>
                            <!--<th scope="col">Challan document</th>-->
                            <th scope="col">To User Name</th>
                            <!--<th scope="col">From Bank Account Number</th>-->
                            <th scope="col">To Bank Account Number</th>
                            <!--<th scope="col">From bank</th>-->
                            <th scope="col">To bank</th>
                            <th scope="col">Ref Id</th>
                        </tr>
                        {% for payment_request in page_obj %}
                        <tr>
                            <td>
                                {% if payment_request.status == 0 %}
                                Pending
                                {% elif payment_request.status == 1 %}
                                Accepted
                                {% elif payment_request.status == 3 %}
                                Refund
                                {% else %}
                                Rejected
                                {% endif %}
                            </td>
                            <td>{{ payment_request.at_created }}</td>
                            <td>{{ payment_request.amount }}</td>
                            <td>{{ payment_request.payment_mode.name }}</td>
                            <!--<td><a class="btn btn-outline-success btn-xs" href="{{ payment_request.document }}">Download</a></td>-->
                            <td>
                                {% if payment_request.to_user.role.name == 'ADMINSTAFF' %}
                                ADMIN
                                {% else %}
                                {{ payment_request.to_user.get_full_name }}
                                {% endif %}
                            </td>
                            <!--<td>{{ payment_request.from_account_no }}</td>-->
                            <td>{{ payment_request.to_account_no }}</td>
                            <!--<td>{{ payment_request.from_bank.bank_name }}</td>-->
                            <td>{{ payment_request.to_bank.bank_name }}</td>
                            <td>{{ payment_request.ref_no|default_if_none:"N/A" }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                 {% if is_paginated %}
                        {% if has_prev_page %}
                            <div class="pagination-prev">
                                <a href="{% url 'payment-requests:payment-request-sent-view' %}?{{prev_page_qs}}" class="btn btn-outline-dark" >Prev</a>
                            </div>
                        {% endif %}
                        {% if has_next_page %}
                            <div class="pagination-next">
                               <a href="{% url 'payment-requests:payment-request-sent-view' %}?{{next_page_qs}}" class="btn btn-outline-dark" >Next</a>
                            </div>
                        {% endif %}
                    {% endif %}
            </div>
            <br>
        </div>
        </div>
    </div>
</div>

<!-- Modal HTML Markup -->
<div id="confirm_approve" class="modal fade" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <form class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title">
                    Payment Request
                </h3>
            </div>
            <div class="modal-body text-dark text-center">
                Are you sure want to Approve payment request?
            </div>
            <div class="modal-footer btn-block-group" style="align-self: center;">
                <div class="modal-footer" style="text-align:center">
                    <button type="button" class="btn btn-primary btn-small max-225 approve_payment_confirm">Yes
                    </button>
                    <button type="button" class="btn btn-default btn-small max-225" data-dismiss="modal">No</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- /.modal -->

<!-- Modal HTML Markup -->
<div id="confirm_reject" class="modal fade" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <form class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title">
                    Payment Request
                </h3>
            </div>
            <div class="modal-body text-dark text-center">
                Are you sure want to Reject payment request?
            </div>
            <textarea rows="4" cols="40" id="rejection_reason" placeholder="Reason for rejection"></textarea>
            <div class="modal-footer btn-block-group" style="align-self: center;">
                <div class="modal-footer" style="text-align:center">

                    <button type="button" class="btn btn-primary btn-small max-225 reject_payment_confirm">Yes
                    </button>
                    <button type="button" class="btn btn-default btn-small max-225" data-dismiss="modal">No</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- /.modal -->

<script>
$(document).ready(function(){
    $('#to-user-id').select2();
    $("#search-txt").focus();
    var search_txt_val = $("#search-txt").val();
    $("#search-txt").val('');
    $("#search-txt").val(search_txt_val);

    $('#search-btn').click(function(){
        startDate = $('#start-date').val();
        endDate = $('#end-date').val();
        search = $('#search-txt').val();
        {% if filter_by %}
            url = window.location.pathname + '?q=' + $('#search-txt').val() + "&filter={{ filter_by }}"
        {% else %}
            url = window.location.pathname + "?q=" + $('#search-txt').val()
        {% endif %}
        if(startDate!="" && endDate!="" )
            {
                url +=  '&startDate='+ $('#start-date').val() +'&endDate='+ $('#end-date').val();
            }
        window.location.assign(url)
    });

     $('#to-user-id').change(function(){
         to_user_id = $('#to-user-id').val();
          all = "";
         var selectedAll = $("#to-user-id :selected").text();
             if (selectedAll.includes("ALL"))
             {
                all = to_user_id;
                to_user_id = ""
                 url = window.location.pathname +'?to_user_id=' + all
             }


              if(to_user_id !="")
                {
                    url = window.location.pathname +'?to_user_id=' + to_user_id
                }

          window.location.assign(url)
    });

    $("#search-txt").keypress(function(event) {
        if (event.which == 13) {
           q();
        }
    });

    $('#csv-download').click(function(){
        if(window.location.search) {
            url = '{% url "payment-requests:payment-request-csv" %}' + window.location.search + "&sent=true"
        } else {
            url = '{% url "payment-requests:payment-request-csv" %}' + "?sent=true"
        }
        window.location.assign(url)
    })
    var startDate = $('#start-date').val();
         var endDate = $('#end-date').val();
         var today = new Date(new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate());
        $('#start-date').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            format: 'yyyy-mm-dd',

            maxDate: function () {
                return new Date($('#end-date').val()) == '' ? today: ( new Date($('#end-date').val()) < today ? $('#end-date').val() : today);
            }
        }).on('change', function (ev)
         {

            var start = $("#start-date").val();
            var startD = new Date(start);
            var end = $("#end-date").val();
            var endD = new Date(end);
            var diff = parseInt((endD.getTime()-startD.getTime())/(24*3600*1000));

            $("#days").val(diff);

            if(diff>31)
            {
               alert("date difference is greater than 31");
               $('#start-date').val("");
            }
         });

         $('#end-date').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            format: 'yyyy-mm-dd',

            minDate: function () {
                return $('#start-date').val();
            },  maxDate: function () {
                return today;
            }
        }).on('change', function (ev)
         {

            var start = $("#start-date").val();
            var startD = new Date(start);
            var end = $("#end-date").val();
            var endD = new Date(end);
            var diff = parseInt((endD.getTime()-startD.getTime())/(24*3600*1000));

            $("#days").val(diff);

            if(diff>31)
            {
               alert("date difference is greater than 31");
               $('#end-date').val("");
            }
         });
    });

</script>
{% endblock %}


{% block extrascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
{% endblock extrascripts %}

