{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %} Add Distributor {% endblock %}

{% block content %}


<div class="content-wrapper py-2 scrollbar scrollbar-black bordered-black">
    <p class="head-right">Add a Distributor</p>
    <form id="add-merchant-form" method="POST">
        <div class="container-fluid" style="position: relative;">
        <div class="row">
            <p class="heading-bg">PERSONAL DETAILS:</p>
        </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="firstname">First Name</label>
                        {{ merchant_form.first_name|attr:"id:firstname"|attr:"class:fill, form-control" }}
                        {% if merchant_form.first_name.errors %}
                            {{ merchant_form.first_name.errors }}
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="lastname">Last Name</label>
                        {{ merchant_form.last_name|attr:"id:lastname"|attr:"class:fill, form-control" }}
                        {% if merchant_form.last_name.errors %}
                            {{ merchant_form.last_name.errors }}
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="phone">Phone No.</label>
                        {{ merchant_form.mobile_no|attr:"id:phone"|attr:"class:fill, form-control" }}
                        {% if merchant_form.mobile_no.errors %}
                            {{ merchant_form.mobile_no.errors }}
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="email">E-mail ID</label>
                        {{ merchant_form.email|attr:"id:email"|attr:"class:fill, form-control" }}
                        {% if merchant_form.email.errors %}
                            {{ merchant_form.email.errors }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="business">Business name</label>
                        {{ merchant_form.business_name|attr:"id:business"|attr:"class:input-80, form-control" }}
                        {% if merchant_form.business_name.errors %}
                            {{ merchant_form.business_name.errors }}
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="pan">PAN No.</label>
                        {{ merchant_form.pan_no|attr:"id:pan"|attr:"class:input-80, form-control" }}
                        {% if merchant_form.pan_no.errors %}
                            {{ merchant_form.pan_no.errors }}
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="aadhaar">Aadhaar No.</label>
                        {{ merchant_form.aadhaar_no|attr:"id:aadhaar"|attr:"class:input-80, form-control" }}
                        {% if merchant_form.aadhaar_no.errors %}
                            {{ merchant_form.aadhaar_no.errors }}
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="business_type">Business Type</label>
                        <!--{{ merchant_form.business_type|attr:"class:fill, form-control"|attr:"id:business_type" }}-->
                        {% if merchant_form.business_type.errors %}
                            {{ merchant_form.business_type.errors }}
                        {% endif %}
                        <select id="business_type" class="fill form-control" name="business_type">
                                <option>---------</option>
                           {% for business_type in business_type %}
                                <option value="{{ business_type.id }}">{{ business_type.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="address">Address</label>
                        {{ merchant_form.address_line_1|attr:"class:fill, form-control"|attr:"id:address" }}
                        {% if merchant_form.address_line_1.errors %}
                            {{ merchant_form.address_line_1.errors }}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="residence_address">Residence Address</label>
                        {{ merchant_form.residence_address|attr:"class:fill, form-control"|attr:"id:residence_address" }}
                        {% if merchant_form.residence_address.errors %}
                            {{ merchant_form.residence_address.errors }}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="city">City</label>
                        {{ merchant_form.city|attr:"class:fill, form-control"|attr:"id:city" }}
                        {% if merchant_form.city.errors %}
                            {{ merchant_form.city.errors }}
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="state">State</label>
                        {{ merchant_form.state|attr:"class:fill, form-control"|attr:"id:state" }}
                        {% if merchant_form.state.errors %}
                            {{ merchant_form.state.errors }}
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="pincode">Pincode</label>
                        {{ merchant_form.pincode|attr:"class:fill, form-control"|attr:"id:pincode" }}
                        {% if merchant_form.pincode.errors %}
                            {{ merchant_form.pincode.errors }}
                        {% endif %}
                    </div>
                </div>
            </div>
    </div>
        <div class="container-fluid banking-details">
        <div class="row">
            <p class="heading-bg">BANK DETAILS:</p>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="acname">Account Name</label>
                    {{ bank_detail_form.account_name|attr:"id:acname"|attr:"class:fill, form-control" }}
                    {% if bank_detail_form.account_name.errors %}
                        {{ bank_detail_form.account_name.errors }}
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="acno">Account No</label>
                    {{ bank_detail_form.account_no|attr:"id:acno"|attr:"class:fill, form-control" }}
                    {% if bank_detail_form.account_no.errors %}
                        {{ bank_detail_form.account_no.errors }}
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="ifsc_code">IFSC Code</label>
                    {{ bank_detail_form.IFSC_code|attr:"id:ifsc_code"|attr:"class:fill, form-control" }}
                    {% if bank_detail_form.IFSC_code.errors %}
                        {{ bank_detail_form.IFSC_code.errors }}
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="bank_city">Bank City</label>
                    {{ bank_detail_form.bank_city|attr:"id:bank_city"|attr:"class:fill, form-control" }}
                    {% if bank_detail_form.bank_city.errors %}
                        {{ bank_detail_form.bank_city.errors }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="bank_name">Bank name</label>
                {{ bank_detail_form.bank_name|attr:"id:bank_name"|attr:"class:input-80, form-control" }}
                {% if bank_detail_form.bank_name.errors %}
                    {{ bank_detail_form.bank_name.errors }}
                {% endif %}
            </div>

            <div class="form-group col-md-4">
                <label for="UPIID">UPI ID</label>
                {{ merchant_form.UPIID|attr:"id:UPIID"|attr:"class:input-80, form-control" }}
                {% if merchant_form.UPIID.errors %}
                    {{ merchant_form.UPIID.errors }}
                {% endif %}
            </div>

            <div class="form-group col-md-4">
                <label for="account_type">Bank account type</label>
                {{ bank_detail_form.account_type|attr:"id:account_type"|attr:"class:input-80, form-control" }}
                {% if bank_detail_form.account_type.errors %}
                    {{ bank_detail_form.account_type.errors }}
                {% endif %}
            </div>
        </div>
    </div>
        <div class="container-fluid">
        <div class="col-md-4 colAlignment float-left mb-4">
            <div class="row margin-top">
                <p class="heading-bg">KYC PROOFS:</p>
            </div>
            <div class="row margin-top">
                <label class="fill" for="doc_type">Select Document Type</label>
                <select id="doc_type">
                    {% for doc_type in kyc_doc_types %}
                        <option value="{{ doc_type }}">{{ doc_type }}</option>
                    {% endfor %}
               - </select>
                <input type="file" id="kyc-file" style="display:none;">
                <input class="btn btn-outline-warning btn-md" type="button" value="upload" id="upload-kyc-btn" onclick="upload_kyc_doc()">
                <p id="file-err-msg" style="display:none;">
                    {% if kyc_error %}
                        <h6 style="color:red">{{ kyc_error }}</h6>
                    {% endif %}
                </p>
            </div>
            <div class="row margin-top" id="kyc-docs">
            </div>
        </div>
        <div class="col-md-4 colAlignment float-left mb-4" >
            <div class="row margin-top">
                <p class="heading-bg">GST INFO:</p>
            </div>
            <div class="row margin-top">
                <label class="fill" for="gstin">GSTIN</label>
                {{ merchant_form.gstin|attr:"id:gstin"|attr:"class:form-control" }}
                {% if merchant_form.gstin.errors %}
                    {{ merchant_form.gstin.errors }}
                {% endif %}
            </div>
        </div>
        <div class="col-md-4 colAlignment float-left mb-4">
            <div class="row margin-top">
                <p class="heading-bg">OTHERS:</p>
            </div>
            <div class="row margin-top">
                <div class="col-md-12">
                    <label class="fill" for="sales_agent">Sales Agent</label>
                    {{ merchant_form.sales_agent|attr:"id:sales_agent"|attr:"class:form-control"|attr:"required:true"}}
                    {% if merchant_form.sales_agent.errors %}
                        {{ merchant_form.sales_agent.errors }}
                    {% endif %}
                </div>

                <div class="col-md-12">
                    <label class="fill" for="direct_distributor">Direct Distributor</label>
                    {{ merchant_form.direct_distributor|attr:"id:direct_distributor"|attr:"class:form-control"|attr:"required:true"}}
                    {% if merchant_form.direct_distributor.errors %}
                        {{ merchant_form.direct_distributor.errors }}
                    {% endif %}
                </div>
            </div>
            <div class="row margin-top float-right mt-4">
                <input class="btn btn-outline-success btn-md" type="submit" value="Save & Submit">
            </div>
        </div>
        {% csrf_token %}
    </div>
    </form>
</div>

<script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.12.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script type="text/undercore-template" id="upload-kyc-doc">
    <div class="col-md-6" id="<%=div_id%>">
        <h5 class="fill"><%=document_type%></h5>
        <h5><i><%=document_name%></i>
            <a class="kyc-href" href="<%=file_download_url%>" target="_blank">
                <i class="fa fa-download kyc-href" style="margin-left:0.5rem;"></i>
            </a>
        </h5><span class="fill">
            </span>
        <input class="btn btn-outline-warning btn-md remove-kyc" doc_type="<%=document_type%>" type="button" value="Remove">
    </div>
</script>

<script type="text/undercore-template" id="form-hidden-input">
    <input type="hidden" id="<%=id%>" name="<%=id%>" value="<%=value%>" >
</script>

<script>
    window.uploaded_kycs = []
    function upload_kyc_doc() {
        $('#kyc-file').val('').clone(true)
        $('#file-err-msg').hide();
        $("#kyc-file").trigger('click');
    }

    $('#doc_type').on('change', function(){
        $('#kyc-file').val('')
    })

    $('#state').select2();

</script>
<script>
function generate_kyc_file_name(doc_type, ext) {
    var milliseconds = (new Date).getTime();
    return doc_type.replace(' ', '-') + '-' + milliseconds + '-' + Math.floor((Math.random() * 10000) + 1) + '.' + ext
}

function sendFile() {
    console.log("Uploading file");
    // get the reference to the actual file in the input
    var theFormFile = $('#kyc-file')[0].files[0];

    ext = $('#kyc-file').val().split('.').pop().toLowerCase()
    file_name = generate_kyc_file_name($('#doc_type').val(), ext)
    var s3 = new AWS.S3({
      accessKeyId: 'AKIAI4Y5NO3K36LXYYVQ',
      secretAccessKey: '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',
      endpoint: 'https://s3.ap-south-1.amazonaws.com',
      signatureVersion: 'v4',
      region: 'ap-south-1'
    });

    var uploadPreSignedUrl = s3.getSignedUrl('putObject', {
        Bucket: 'zrupee-kyc-documents',
        Key: file_name,
        ACL: 'authenticated-read',
        // This must match with your ajax contentType parameter
        ContentType: 'binary/octet-stream'

        /* then add all the rest of your parameters to AWS puttObect here */
    });

    var downloadPreSignedUrl = s3.getSignedUrl('getObject', {
        Bucket: 'zrupee-kyc-documents',
        Key: file_name,
        /* set a fixed type, or calculate your mime type from the file extension */
        /* and all the rest of your parameters to AWS getObect here */
    });

    $.ajax({
      type: 'PUT',
      url: uploadPreSignedUrl,
      // Content type must much with the parameter you signed your URL with
      contentType: 'binary/octet-stream',
      // this flag is important, if not set, it will try to send data as a form
      processData: false,
      // the actual file is sent raw
      data: theFormFile,
    }).done(function() {
        $('#kyc-docs').append(
            _.template($('#upload-kyc-doc').html())(
                {
                    document_type: $('#doc_type').val(),
                    document_name: $('#kyc-file').val().split('\\').pop(),
                    file_download_url: downloadPreSignedUrl,
                    div_id: $('#doc_type').val().replace(' ', '')
                }
            )
        )
        window.uploaded_kycs.push($('#doc_type').val())

        hidden_content = $('#form-hidden-input').html()
        content = _.template(hidden_content)({
            id: $('#doc_type').val().replace(' ', '-'),
            value: downloadPreSignedUrl
        });
        $('#add-merchant-form').prepend(content)

        document_id_content = _.template(hidden_content)({
            id: 'doc_id' + '-' + $('#doc_type').val().replace(' ', '-'),
            value: file_name
        });
        $('#add-merchant-form').prepend(document_id_content)
        console.log(content)
    }).fail(function() {
      alert('File NOT uploaded');
      console.log( arguments);
    });

    return downloadPreSignedUrl;
}

function submit_merchant_form() {
    document.getElementById("add-merchant-form").submit();
}

$("#kyc-file").change(function(e) {
    console.log("File control change event.")
    ext = $('#kyc-file').val().split('.').pop().toLowerCase()

    doc_type = $('#doc_type').val()
    if($.inArray(doc_type, window.uploaded_kycs) != -1) {
        $("#file-err-msg").html('Document already uploaded')
        $("#file-err-msg").show()
        console.log("Document already uploaded");
        return
    }

    if($.inArray(ext, ['pdf','png','jpg','jpeg']) == -1) {
        $("#file-err-msg").html('Invalid file type')
        $("#file-err-msg").show()
        console.log("Invalid doc type");
    } else {
        sendFile()
    }
});

$('#kyc-docs').on('click', '.remove-kyc', function(e) {
    parent_div = $(this).parent()
    doc_type = $(this).attr('doc_type')

    parent_div.remove()
    window.uploaded_kycs = window.uploaded_kycs.filter(item => item != doc_type)
    $("#file-err-msg").val('')
    $("#file-err-msg").hide()
});

</script>
{% endblock %}
