{% extends 'base.html' %}
{% load static %}
{% block title %} Distributors List {% endblock %}

{% block content %}

<div class="content-wrapper scrollbar scrollbar-black bordered-black">
    <p class="head-right">Distributors</p>
    <div class="row rm-margin-side">
        <div class="col-6 col-lg-2 mt-2">
            <input id="start-date" name="startDate" value="{{startDate}}" placeholder="From" data-toggle="tooltip" data-placement="top" title="User Registration Date: From"/>
        </div>
        <div class="col-6 col-lg-2 mt-2">
            <input id="end-date" name="endDate" value="{{endDate}}" placeholder="To" data-toggle="tooltip" data-placement="top" title="User Registration Date: To"/>
        </div>
        <div class="col-12 col-lg-2 mt-2" data-toggle="tooltip" data-placement="top" title="Select Distributor">
            <select id="distributor-id"  name="distributor-id">
                <option value="-1">ALL</option>
                {% for distributor in distributor_list %}
                    <option value="{{ distributor.id }}" {% if  distributor.id == distributor_id %}selected{% endif %}>{{ distributor.first_name }} {{ distributor.last_name|default_if_none:""}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-6 col-lg-3 mt-2 float-left">
            <input class="form-control form-control" id="search-txt" type="search" name="search" value="{{ q }}" placeholder="Search by Id, Name or Mobile">
        </div>
        <div class="col-2 col-lg-1 mt-2">
            <button class="btn btn-outline-dark" type="button" id="search-btn" data-toggle="tooltip" data-placement="top" title="Search">
                <i class="fa fa-search"></i>
            </button>
        </div>
        <div class="col-2 col-lg-1 mt-2">
            <a href="{% url 'user:distributor-list' %}" data-toggle="tooltip" data-placement="top" title="Clear Filters">
                <img src="{% static 'images/clearfilter.png' %}" height="30">
            </a>
        </div>
        <div class="col-2 col-lg-1 mt-2 float-right" data-toggle="tooltip" data-placement="top" title="Download CSV">
            <img src="{% static 'images/downloadcsv.png' %}" height="30" id="csv-download" class="float-right"
             style="cursor: pointer;">
        </div>

        <div class="div-width-100">
            <br>
            <div class="row scroll">
                <div class="div-width-100">
                    <table class="table table-hover table-data">
                        <tr style="border-bottom-style: solid;">
                            <th scope="col">Distributor Id</th>
                            <th scope="col">Distributor Name</th>
                            <th scope="col">DOJ</th>
                            <th scope="col">Mobile No</th>
                            <th scope="col">Email</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>
                            <th scope="col">Update</th>
                        </tr>
                        {% for distributor in queryset %}
                            <tr>
                                <td>{{ distributor.id }}</td>
                                <td>{{ distributor.first_name }} {{ distributor.last_name|default_if_none:""}}</td>
                                <td>{{ distributor.at_created }}</td>
                                <td>{{ distributor.mobile_no }}</td>
                                <td>{{ distributor.email }}</td>
                                <td>{% if distributor.is_active %}Active{% else %}Inactive{% endif %}</td>
                                <td>
                                    {% if distributor.is_active %}
                                        <a class="btn btn-outline-danger btn-xs" href='{% url "user:distributor-list" %}?disable={{ distributor.id }}'>Disable</a>
                                    {% else %}
                                        <a class="btn btn-outline-success btn-xs" href='{% url "user:distributor-list" %}?activate={{ distributor.id }}'>Activate</a>
                                    {% endif %}
                                </td>
                                <td> <a class="btn btn-outline-info btn-xs" href='{% url "user:user-update" pk=distributor.id%}'>Update</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                    {% if is_paginated %}
                        <div class="pagination">
                            {% if has_prev_page %}
                            <div class="pagination-prev">
                                <a href="{% url 'user:distributor-list' %}?{{prev_page_qs}}" class="btn btn-outline-dark" >Prev</a>
                            </div>
                            {% endif %}
                            {% if has_next_page %}
                            <div class="pagination-next">
                                <a href="{% url 'user:distributor-list' %}?{{next_page_qs}}" class="btn btn-outline-dark" >Next</a>
                            </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
<script>


    $(document).ready(function()
    {

         $('#distributor-id').select2({ height:'1000px', placeholder:'select an option'});

         $("#search-txt").focus();
         var search_txt_val = $("#search-txt").val();
         $("#search-txt").val('');
         $("#search-txt").val(search_txt_val);


         function q(){
             distributorId = $("#distributor-id").val();
             startDate = $('#start-date').val();
             endDate = $('#end-date').val();

             if($('#search-txt').val() != "") {
                  url = window.location.pathname + "?q=" + $('#search-txt').val();
             } else {
                  url = window.location.pathname + '?';
             }

             if(distributorId !="")
             {
                 url += '&distributor-id=' + distributorId
             }

             if(startDate!="" && endDate!="" )
             {
                 url +=  '&startDate='+ $('#start-date').val() +'&endDate='+ $('#end-date').val();
             }

             window.location.assign(url)
         }

         $('#search-btn').click(q);

         $('#distributor-id').change(q);

         $("#search-txt").keypress(function(event) {
            if (event.which == 13) {
               q();
            }
         });

        $('#date_btn').on('change',function(e){e.preventDefault();});
        $('#csv-download').click(function()
        {
            url = "{% url "user:distributor-csv" %}" + window.location.search;
            window.location.assign(url)
        });
         var startDate = $('#start-date').val();
         var endDate = $('#end-date').val();
         var today = new Date(new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate());
        $('#start-date').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            format: 'yyyy-mm-dd',
            maxDate: function () {
                return new Date($('#end-date').val()) == '' ? today: ( new Date($('#end-date').val()) < today ? $('#end-date').val() : today);
            },
        }).on('change.dp', function (ev)
         {
            console.log('works1');
            var start = $("#start-date").val();
            var startD = new Date(start);
            var end = $("#end-date").val();
            var endD = new Date(end);
            var diff = parseInt((endD.getTime()-startD.getTime())/(24*3600*1000));

            $("#days").val(diff);

            if(diff>31)
            {
               alert("date difference is greater than 31");
               $('#start-date').val("");
            } else if ($("#start-date").val() != '' && $("#end-date").val() != ''){}
         });


        $('#end-date').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            format: 'yyyy-mm-dd',

            minDate: function () {
                return $('#start-date').val();
            },

            maxDate: function () {
                return today;
            }
        }).on('change.dp', function (ev)
         {
            console.log('works2', ev);
            ev.preventDefault();
            ev.stopPropagation();

            var start = $("#start-date").val();
            var startD = new Date(start);
            var end = $("#end-date").val();
            var endD = new Date(end);
                        console.log('dates',startD, endD);

            var diff = parseInt((endD.getTime()-startD.getTime())/(24*3600*1000));

            $("#days").val(diff);
            console.log('diff', diff);

            if(diff>31)
            {
               alert("date difference is greater than 31");
               $('#end-date').val("");
            }else if ($("#start-date").val() != '' && $("#end-date").val() != ''){            console.log('works3');
}
         });









    });
</script>
{% endblock %}
