{% extends 'base.html' %}
{% load static %}
{% block title %} Merchants List {% endblock %}

{% block content %}

<div class="content-wrapper scrollbar scrollbar-black bordered-black">
    <p class="head-right">KYC Requests</p>
    <div class="row rm-margin-side">
        <div class="col-6 col-lg-2 mt-2">
            <input id="start-date" name="startDate" value="{{startDate}}" placeholder="From" data-toggle="tooltip" data-placement="top" title="KYC Request Date: From"/>
        </div>
        <div class="col-6 col-lg-2 mt-2">
            <input id="end-date" name="endDate" value="{{endDate}}" placeholder="To" data-toggle="tooltip" data-placement="top" title="KYC Request Date: To"/>
        </div>
        <div class="col-12 col-lg-2 mt-2" data-toggle="tooltip" data-placement="top" title="Select User">
            <select id="user-id" name="user-id">
                <option value="-1">ALL</option>
                {% for userData in user_list %}
                    <option value="{{userData.id}}"{% if userData.id == user_id %}selected{% endif %}>{{userData.first_name}}-{{userData.last_name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-6 col-lg-3 mt-2 float-left">
            <input class="form-control form-control" id="search-txt" type="search" name="search" value="{{ q }}" placeholder="Search by Name or Mobile">
        </div>
        <div class="col-2 col-lg-1 mt-2">
            <button class="btn btn-outline-dark" type="button" id="search-btn" data-toggle="tooltip" data-placement="top" title="Search">
                <i class="fa fa-search"></i>
            </button>
        </div>
        <div class="col-2 col-lg-1 mt-2">
            <a href="{% url 'user:kyc-requests' %}" data-toggle="tooltip" data-placement="top" title="Clear Filters">
                <img src="{% static 'images/clearfilter.png' %}" height="30">
            </a>
        </div>
        <div class="col-2 col-lg-1 mt-2" data-toggle="tooltip" data-placement="top" title="Download CSV">
            <img src="{% static 'images/downloadcsv.png' %}" height="30" id="csv-download" class="float-right"
             style="cursor: pointer;">
        </div>

        <div class="div-width-100">
            <br>
            <div class="row scroll">
                <div style="width: 100%;">
                    <table class="table table-hover table-data">
                        <tr style="border-bottom-style: solid;">
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Type</th>
                            <th scope="col">Doj</th>
                            <th scope="col">KYC's</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                        {% for kyc_req in page_obj %}
                        <tr>
                            <td>{{kyc_req.id}}</td>
                            <td>{{ kyc_req.first_name }} {% if kyc_req.last_name %}{{ kyc_req.last_name }}{% endif %} </td>
                            <td>{{ kyc_req.role.name }}</td>
                            <td>{{ kyc_req.at_created}}</td>
                            <td>
                                {% if kyc_req.in_process %}
                                    {% for kyc in kyc_req.kyc_details.all %}
                                        {% if kyc.approval_status == 'I' %}
                                            <a class="btn btn-outline-success btn-xs" href="{{ kyc.get_download_url }}">{{kyc.type}}</a>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    No kyc documents
                                {% endif %}
                            </td>
                            <td>
                                {% if kyc_req.approval_status == 'I' %}
                                    In Process
                                {% elif kyc_req.approval_status == 'A' %}
                                    Approved
                                {% elif kyc_req.approval_status == 'R' %}
                                    Rejected
                                {% endif %}
                            </td>
                            <td>
                                {% if kyc_req.in_process %}
                                    <a class="btn btn-outline-success btn-xs" href='{% url "user:kyc-requests" %}?approve={{ kyc_req.id }}'>Approve</a>
                                    <a class="btn btn-outline-danger btn-xs" href='{% url "user:kyc-requests" %}?reject={{ kyc_req.id }}'>Reject</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% if is_paginated %}
                        <div class="pagination">
                            {% if page_obj.has_previous %}
                                <div class="pagination-prev">
                                    <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-dark">
                                    <span>Prev</span>
                                    </a>
                                </div>
                            {% endif %}
                            {% if page_obj.has_next %}
                                <div class="pagination-next">
                                    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-dark">
                                          <span>Next</span>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <br/>
                </div>
            </div>
        </div>
    <br/>

</div>

<script>
 $(document).ready(function()
    {
    $('#user-id').select2();

    $("#search-txt").focus();
    var search_txt_val = $("#search-txt").val();
    $("#search-txt").val('');
    $("#search-txt").val(search_txt_val);

    function q(){
         userId = $("#user-id").val();
         startDate = $('#start-date').val();
         endDate = $('#end-date').val();

         if($('#search-txt').val() != "") {
              url = window.location.pathname + "?q=" + $('#search-txt').val();
         } else {
              url = window.location.pathname + '?';
         }

         if(userId !="")
         {
             url += '&user_id=' + userId
         }

         if(startDate!="" && endDate!="" )
         {
             url +=  '&startDate='+ $('#start-date').val() +'&endDate='+ $('#end-date').val();
         }

         window.location.assign(url)
     }

    $('#search-btn').click(q);

    $('#user-id').change(q);

    $("#search-txt").keypress(function(event) {
        if (event.which == 13) {
           q();
        }
    });

    $('#period').change(function() {
        period_val = $(this).val();
        url = window.location.pathname + '?filter=' + period_val.replace(' ', '-');
        {% if q %}
            url += "&q={{ q }}";
        {% endif %}
        window.location.assign(url)
    });

    $('#csv-download').click(function(){
        url = "{% url "user:sub-distributor-csv" %}" + window.location.search;
        window.location.assign(url)
    })
     var startDate = $('#start-date').val();
         var endDate = $('#end-date').val();
         var today = new Date(new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate());
        $('#start-date').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            format: 'yyyy-mm-dd',

            maxDate: function () {
                return new Date($('#end-date').val()) == '' ? today: ( new Date($('#end-date').val()) < today ? $('#end-date').val() : today);
            }
        }).on('change', function (ev)
         {

            var start = $("#start-date").val();
            var startD = new Date(start);
            var end = $("#end-date").val();
            var endD = new Date(end);
            var diff = parseInt((endD.getTime()-startD.getTime())/(24*3600*1000));

            $("#days").val(diff);

            if(diff>31)
            {
               alert("date difference is greater than 31");
               $('#start-date').val("");
            }else if ($("#start-date").val() != '' && $("#end-date").val() != ''){}
         });


        $('#end-date').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            format: 'yyyy-mm-dd',

            minDate: function () {
                return $('#start-date').val();
            }, maxDate: function () {
                return today;
            }
        }).on('change', function (ev)
         {

            var start = $("#start-date").val();
            var startD = new Date(start);
            var end = $("#end-date").val();
            var endD = new Date(end);
            var diff = parseInt((endD.getTime()-startD.getTime())/(24*3600*1000));

            $("#days").val(diff);

            if(diff>31)
            {
               alert("date difference is greater than 31");
               $('#end-date').val("");
            }else if ($("#start-date").val() != '' && $("#end-date").val() != ''){}
         });
        });

</script>
{% endblock %}
