{% extends 'base.html' %}
{% load static %}

{% block title %} Merchants List {% endblock %}

{% block content %}

<div class="content-wrapper scrollbar scrollbar-black bordered-black">
    <p class="head-right">Merchants</p>
    <div class="row rm-margin-side">
        <div class="col-6 col-lg-2 mt-2">
            <input id="start-date" name="startDate" value="{{startDate}}" placeholder="From" data-toggle="tooltip" data-placement="top" title="User Registration Date: From"/>
        </div>
        <div class="col-6 col-lg-2 mt-2">
            <input id="end-date" name="endDate" value="{{endDate}}" placeholder="To" data-toggle="tooltip" data-placement="top" title="User Registration Date: To"/>
        </div>
        {% if distributor_list %}
            <div id="select1" class="col-12 col-lg-2 mt-2" data-toggle="tooltip" data-placement="top" title="Select Distributor">
            <select id="distributor-id"  name="distributor-id">
                <option value="-1">ALL</option>
                {% for distributor in distributor_list %}
                    <option value="{{ distributor.id }}" {% if  distributor.id == distributor_id %}selected{% endif %}>{{ distributor.first_name }} {{ distributor.last_name|default_if_none:""}}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}

        <div class="col-12 col-lg-2 mt-2" data-toggle="tooltip" data-placement="top" title="Select Distributor">
            <select id="sub-distributor-id"  name="sub-distributor-id">
                <option value="-3">ALL</option>
                {% for key,val in subDistMerchant.items %}
                    <optgroup label = "{{val.0.0}} ">
                        <option value="{{key}}"{% if key == sub_distributor_id  %}selected{% endif %}>ALL-{{val.0.0}}</option>
                        {% for subdrow in val %}
                            <option value="{{subdrow.1}}" {% if subdrow.1 == merchant_id %}selected{% endif %}>{{ subdrow.2 }}</option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
        </div>
        <div class="col-6 col-lg-3 mt-2 float-left">
            <input class="form-control form-control" id="search-txt" type="search" name="search" value="{{ q }}" placeholder="Search by Id, Name or Mobile">
        </div>
        <div class="col-2 col-lg-1 mt-2">
            <button class="btn btn-outline-dark" type="button" id="search-btn" data-toggle="tooltip" data-placement="top" title="Search">
                <i class="fa fa-search"></i>
            </button>
        </div>
        <div class="col-2 col-lg-1 mt-2">
            <a href="{% url 'user:merchant-list' %}" data-toggle="tooltip" data-placement="top" title="Clear Filters">
                <img src="{% static 'images/clearfilter.png' %}" height="30">
            </a>
        </div>
        <div class="col-2 col-lg-1 mt-2 float-right" data-toggle="tooltip" data-placement="top" title="Download CSV">
            <img src="{% static 'images/downloadcsv.png' %}" height="30" id="csv-download" class="float-right"
             style="cursor: pointer;">
        </div>

        <div class="div-width-100">
            <br>
            <div class="row scroll">
                <div class="div-width-100">
                    <table class="table table-hover table-data">
                        <tr style="border-bottom-style: solid;">
                            <th scope="col">Merchant Id</th>
                            <th scope="col">Merchant Name</th>
                            <th scope="col">DOJ</th>
                            <th scope="col">Mobile No</th>
                            <th scope="col">Email</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>
                            <th scope="col">Update</th>
                        </tr>
                        {% if queryset %}
                            {% for merchant in queryset %}
                            <tr>
                                <td>{{ merchant.id }}</td>
                                <td>{{ merchant.first_name }} {{ merchant.last_name|default_if_none:""}}</td>
                                <td>{{ merchant.at_created }}</td>
                                <td>{{ merchant.mobile_no }}</td>
                                <td>{{ merchant.email }}</td>
                                <td>{% if merchant.is_active %}Active{% else %}Inactive{% endif %}</td>
                                <td>
                                    {% if merchant.is_active %}
                                        <a class="btn btn-outline-danger btn-xs" href='{% url "user:merchant-list" %}?disable={{ merchant.id }}'>Disable</a>
                                    {% else %}
                                        <a class="btn btn-outline-success btn-xs" href='{% url "user:merchant-list" %}?activate={{ merchant.id }}'>Activate</a>
                                    {% endif %}
                                </td>
                                <td> <a class="btn btn-outline-info btn-xs" href='{% url "user:user-update" pk=merchant.id%}'>Update</a></td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            {% for map in merchant_map %}
                            <tr>
                                <td>{{ map.merchant.id }}</td>
                                <td>{{ map.merchant.first_name }} {{ merchant.last_name|default_if_none:""}}</td>
                                <td>{{ map.merchant.at_created }}</td>
                                <td>{{ map.merchant.mobile_no }}</td>
                                <td>{{ map.merchant.email }}</td>
                                <td>{% if map.merchant.is_active %}Active{% else %}Inactive{% endif %}</td>
                                <td> <a href='{% url "user:user-update" pk=map.merchant.id%}'>Update</a></td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                </table>
                    {% if is_paginated %}
                        <div class="pagination">
                            {% if has_prev_page %}
                                <div class="pagination-prev">
                                    <a href="{% url 'user:merchant-list' %}?{{prev_page_qs}}" class="btn btn-outline-dark">Prev</a>
                                </div>
                            {% endif %}
                            {% if has_next_page %}
                                <div class="pagination-next">
                                    <a href="{% url 'user:merchant-list' %}?{{next_page_qs}}" class="btn btn-outline-dark">Next</a>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
 $(document).ready(function(){

    $('#distributor-id').select2();
    $('#sub-distributor-id').select2();

    distributor_id = $("#distributor-id").val()

    $("#search-txt").focus();
    var search_txt_val = $("#search-txt").val();
    $("#search-txt").val('');
    $("#search-txt").val(search_txt_val);

    $("#distributor-id").change(function()
     {
        var id = $(this).val();

        url = window.location.pathname
        if (id!="")
        {
            url += '?distributor-id='+id

        }
        window.location.assign(url)
     });

      $("#sub-distributor-id").change(function(){
            subdistributorId = $("#sub-distributor-id").val();
            merchantId ="";
            distributor_id = $("#distributor-id").val()
             var selectedAll = $("#sub-distributor-id :selected").text();
             var subdistributorAll ="";
             if (selectedAll.includes("ALL"))
             {
                if(subdistributorId == -1)
                {
                    merchantId = subdistributorId;
                    subdistributorId = "";
                }
             }
             else
             {
                  merchantId = subdistributorId;
                  subdistributorId = "";

             }

             url = window.location.pathname
             if( distributor_id > 0)
             {
                url += '?merchant-id='+merchantId + '&distributor-id='+distributor_id ;
             }
             else
             {
                 url += '?merchant-id='+merchantId
             }

             if(subdistributorId != "")
             {
                url = window.location.pathname+ "?";
                 if (distributor_id)
                    url += "distributor-id="+distributor_id
                url += "&sub-distributor-id="+subdistributorId
             }


             window.location.assign(url)


         });


    $('#search-btn').click(function(){
        startDate = $('#start-date').val();
        endDate = $('#end-date').val();

        url = window.location.pathname + "?q=" + $('#search-txt').val()

        if(startDate!="" && endDate!="" )
            {

                url +=  '&startDate='+ $('#start-date').val() +'&endDate='+ $('#end-date').val();
            }

        window.location.assign(url)
    })

    $("#search-txt").keypress(function(event) {
        if (event.which == 13) {
           q();
        }
    });

    $('#csv-download').click(function(){
        url = "{% url "user:merchant-csv" %}" + window.location.search
        window.location.assign(url)
    })

    var startDate = $('#start-date').val();
         var endDate = $('#end-date').val();
         var today = new Date(new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate());
        $('#start-date').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            format: 'yyyy-mm-dd',

            maxDate: function () {
                return new Date($('#end-date').val()) == '' ? today: ( new Date($('#end-date').val()) < today ? $('#end-date').val() : today);
            }
        }).on('change', function (ev)
         {

            var start = $("#start-date").val();
            var startD = new Date(start);
            var end = $("#end-date").val();
            var endD = new Date(end);
            var diff = parseInt((endD.getTime()-startD.getTime())/(24*3600*1000));

            $("#days").val(diff);

            if(diff>31)
            {
               alert("date difference is greater than 31");
               $('#start-date').val("");
            }
         });


        $('#end-date').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            format: 'yyyy-mm-dd',

            minDate: function () {
                return $('#start-date').val();
            },  maxDate: function () {
                return today;
            }
        }).on('change', function (ev)
         {

            var start = $("#start-date").val();
            var startD = new Date(start);
            var end = $("#end-date").val();
            var endD = new Date(end);
            var diff = parseInt((endD.getTime()-startD.getTime())/(24*3600*1000));

            $("#days").val(diff);

            if(diff>31)
            {
               alert("date difference is greater than 31");
               $('#end-date').val("");
            }
         });

    });
</script>
{% endblock %}
