{% extends 'base.html' %}
{% load static %}
{% block title %} Retailers List {% endblock %}

{% block content %}

    <div class="content-wrapper scrollbar scrollbar-black bordered-black">
        <p class="head-right">Retailer Table</p>
        <div class="row rm-margin-side">
            <div class="col-6 col-lg-2 mt-2">
                <input id="start-date" name="startDate" value="{{startDate}}" placeholder="From" data-toggle="tooltip" data-placement="top" title="User Registration Date: From"/>
            </div>
            <div class="col-6 col-lg-2 mt-2">
                <input id="end-date" name="endDate" value="{{endDate}}" placeholder="To" data-toggle="tooltip" data-placement="top" title="User Registration Date: To"/>
            </div>
            <div class="col-12 col-lg-2 mt-2" data-toggle="tooltip" data-placement="top" title="Select Retailer">
                <select id="retailer-id"  name="retailer-id">
                    <option value="-1">ALL</option>
                    {% for retailer in retailer_list %}
                        <option value="{{ retailer.id }}" {% if  retailer.id == retailer_id %}selected{% endif %}>{{ retailer.first_name }} {{ retailer.last_name|default_if_none:""}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-6 col-lg-3 mt-2 float-left">
                <input class="form-control form-control" id="search-txt" type="search" name="search" value="{{ q }}" placeholder="Search by Id, Name or Mobile">
            </div>
            <div class="col-2 col-lg-1 mt-2">
                <button class="btn btn-outline-dark" type="button" id="search-btn" data-toggle="tooltip" data-placement="top" title="Search">
                    <i class="fa fa-search"></i>
                </button>
            </div>
            <div class="col-2 col-lg-1 mt-2">
                <a href="{% url 'user:retailer-list' %}" data-toggle="tooltip" data-placement="top" title="Clear Filters">
                    <img src="{% static 'images/clearfilter.png' %}" height="30">
                </a>
            </div>
            <div class="col-2 col-lg-1 mt-2 float-right" data-toggle="tooltip" data-placement="top" title="Download CSV">
                <img src="{% static 'images/downloadcsv.png' %}" height="30" id="csv-download" class="float-right"
                 style="cursor: pointer;">
            </div>
            <div class="div-width-100">
                <br>
                <div class="row scroll">
                    <div style="width: 100%;">
                        <table class="table table-hover table-data">
                            <tr style="border-bottom-style: solid;">
                                <th scope="col">Retailer Id</th>
                                <th scope="col">Retailer Name</th>
                                <th scope="col">DOJ</th>
                                <th scope="col">Mobile No</th>
                                <th scope="col">Email</th>
                                <th scope="col">Status</th>
                                <th scope="col">Actions</th>
                                <th scope="col">Update</th>
                            </tr>
                            {% for retailer in queryset %}
                                <tr>
                                    <td>{{ retailer.id }}</td>
                                    <td>{{ retailer.first_name }} {{ retailer.last_name|default_if_none:""}}</td>
                                    <td>{{ retailer.at_created }}</td>
                                    <td>{{ retailer.mobile_no }}</td>
                                    <td>{{ retailer.email }}</td>
                                    <td>{% if retailer.is_active %}Active{% else %}Inactive{% endif %}</td>
                                    <td>
                                        {% if retailer.is_active %}
                                            <a class="btn btn-outline-danger btn-xs" href='{% url "user:retailer-list" %}?disable={{ retailer.id }}'>Disable</a>
                                        {% else %}
                                            <a class="btn btn-outline-success btn-xs" href='{% url "user:retailer-list" %}?activate={{ retailer.id }}'>Activate</a>
                                        {% endif %}
                                    </td>
                                     <td> <a class="btn btn-outline-info btn-xs" href='{% url "user:user-update" pk=retailer.id%}'>Update</a></td>
                                </tr>
                            {% endfor %}
                        </table>
                        {% if is_paginated %}
                            <div class="pagination">
                                {% if has_prev_page %}
                                    <div class="pagination-prev">
                                        <a href="{% url 'user:retailer-list' %}?{{prev_page_qs}}" class="btn btn-outline-dark" >Prev</a>
                                    </div>
                                {% endif %}
                                {% if has_next_page %}
                                    <div class="pagination-next">
                                        <a href="{% url 'user:retailer-list' %}?{{next_page_qs}}" class="btn btn-outline-dark" >Next</a>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>

    $(document).ready(function()
    {
        $('#retailer-id').select2();
        $("#search-txt").focus();
        var search_txt_val = $("#search-txt").val();
        $("#search-txt").val('');
        $("#search-txt").val(search_txt_val);
        $('#search-btn').click(function(){
        startDate = $('#start-date').val();
        endDate = $('#end-date').val();
            url = window.location.pathname + "?q=" + $('#search-txt').val();

            if(startDate!="" && endDate!="" )
            {
                url +=  '&startDate='+ $('#start-date').val() +'&endDate='+ $('#end-date').val();
            }

            window.location.assign(url)
        });

         $('#retailer-id').change(function(){
         retailerId = $("#retailer-id").val();
         all = "";

         var selectedAll = $("#user-transaction-id :selected").text();
             if (selectedAll.includes("ALL"))
             {
                all = retailerId;
                retailerId = ""
                 url = window.location.pathname +'?retailer-id=' + all
             }
              if(retailerId !="")
                {
                    url = window.location.pathname +'?retailer-id=' + retailerId
                }
          window.location.assign(url)
    });

         $("#search-txt").keypress(function(event) {
            if (event.which == 13) {
               q();
            }
         });


        $('#csv-download').click(function()
        {
            url = "{% url "user:retailer-csv" %}" + window.location.search;
            window.location.assign(url)
        });
         var startDate = $('#start-date').val();
         var endDate = $('#end-date').val();
         var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
        $('#start-date').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            format: 'yyyy-mm-dd',

            maxDate: function () {
            return $('#end-date').val();
            }
        }).on('change', function (ev)
         {
            var start = $("#start-date").val();
            var startD = new Date(start);
            var end = $("#end-date").val();
            var endD = new Date(end);
            var diff = parseInt((endD.getTime()-startD.getTime())/(24*3600*1000));

            $("#days").val(diff);

            if(diff>31)
            {
               alert("date difference is greater than 31");
               $('#start-date').val("");
            }
         });

        $('#end-date').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            format: 'yyyy-mm-dd',

            minDate: function () {
                return $('#start-date').val();
            }
        }).on('change', function (ev)
         {
            var start = $("#start-date").val();
            var startD = new Date(start);
            var end = $("#end-date").val();
            var endD = new Date(end);
            var diff = parseInt((endD.getTime()-startD.getTime())/(24*3600*1000));

            $("#days").val(diff);

            if(diff>31)
            {
               alert("date difference is greater than 31");
               $('#end-date').val("");
            }
         });
    });
</script>
{% endblock %}
