{% extends 'base.html' %}
{% load static %}
{% block title %} Terminals List {% endblock %}

{% block content %}

    <div class="content-wrapper scrollbar scrollbar-black bordered-black">
        <p class="head-right">Terminal Table</p>
        <div class="row rm-margin-side">
            <div class="col-6 col-lg-2 mt-2">
                <input id="start-date" name="startDate" value="{{startDate}}" placeholder="From" data-toggle="tooltip" data-placement="top" title="User Registration Date: From"/>
            </div>
            <div class="col-6 col-lg-2 mt-2">
                <input id="end-date" name="endDate" value="{{endDate}}" placeholder="To" data-toggle="tooltip" data-placement="top" title="User Registration Date: To"/>
            </div>
            <div class="col-12 col-lg-2 mt-2" data-toggle="tooltip" data-placement="top" title="Select Terminal">
                <select id="terminal-id"  name="terminal-id">
                    <option value="-1">ALL</option>
                        {% for key,val in terminaldict.items %}
                            <optgroup label = "{{val.0.0}} ">
                                 <option value="{{key}}"{% if key == retailer_id %}selected{% endif %}>ALL-{{val.0.0}}</option>
                                {% for subdrow in val %}
                                    <option value="{{subdrow.1}}" {% if subdrow.1 == terminal_id %}selected{% endif %}>{{ subdrow.2 }}</option>
                                {% endfor %}
                            </optgroup>
                        {% endfor %}
                </select>
            </div>
            <div class="col-6 col-lg-3 mt-2 float-left">
                <input class="form-control form-control" id="search-txt" type="search" name="search" value="{{ q }}" placeholder="Search by Id, Name or Mobile">
            </div>
            <div class="col-2 col-lg-1 mt-2">
                <button class="btn btn-outline-dark" type="button" id="search-btn" data-toggle="tooltip" data-placement="top" title="Search">
                    <i class="fa fa-search"></i>
                </button>
            </div>
            <div class="col-2 col-lg-1 mt-2">
                <a href="{% url 'user:terminal-list' %}" data-toggle="tooltip" data-placement="top" title="Clear Filters">
                    <img src="{% static 'images/clearfilter.png' %}" height="30">
                </a>
            </div>
            <div class="col-2 col-lg-1 mt-2 float-right" data-toggle="tooltip" data-placement="top" title="Download CSV">
                <img src="{% static 'images/downloadcsv.png' %}" height="30" id="csv-download" class="float-right"
                 style="cursor: pointer;">
            </div>
            <div class="div-width-100">
                <br>
                <div class="row scroll">
                    <div class="div-width-100">
                        <table class="table table-hover table-data">
                            <tr style="border-bottom-style: solid;">
                                <th>Terminal Id</th>
                                <th>Terminal Name</th>
                                <th>DOJ</th>
                                <th>Mobile No</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Actions</th>
                                <th>Update</th>
                                {% if request.user.zr_admin_user.role.name == "RETAILER" %}
                                <th>Manage</th>
                                {% endif %}
                            </tr>
                            {% for terminal in queryset %}
                                <tr>
                                    <td>{{ terminal.terminal.id }}</td>
                                    <td>{{ terminal.terminal.first_name }} {{ terminal.terminal.last_name|default_if_none:""}}</td>
                                    <td>{{ terminal.terminal.at_created }}</td>
                                    <td>{{ terminal.terminal.mobile_no }}</td>
                                    <td>{{ terminal.terminal.email }}</td>
                                    <td>{% if terminal.terminal.is_active %}Active{% else %}Inactive{% endif %}</td>
                                    <td>
                                        {% if terminal.terminal.is_active %}
                                            <a class="btn btn-outline-danger btn-xs" href='{% url "user:terminal-list" %}?disable={{ terminal.id }}'>Disable</a>
                                        {% else %}
                                            <a class="btn btn-outline-success btn-xs" href='{% url "user:terminal-list" %}?activate={{ terminal.id }}'>Activate</a>
                                        {% endif %}
                                    </td>
                                    <td> <a class="btn btn-outline-info btn-xs" href='{% url "user:terminal-update" pk=terminal.id%}'>Update</a></td>
                                    {% if request.user.zr_admin_user.role.name == "RETAILER" %}
                                        <td><a class="btn btn-outline-success btn-xs" href='{% url "user:terminal-view" pk=terminal.id%}'>Access</a></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </table>
                        {% if is_paginated %}
                            <div class="pagination">
                                {% if has_prev_page %}
                                    <div class="pagination-prev">
                                        <a href="{% url 'user:terminal-list' %}?{{prev_page_qs}}" class="btn btn-outline-dark" >Prev</a>
                                    </div>
                                {% endif %}
                                {% if has_next_page %}
                                    <div class="pagination-next">
                                        <a href="{% url 'user:terminal-list' %}?{{next_page_qs}}" class="btn btn-outline-dark" >Next</a>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>

    $(document).ready(function()
    {
        $('#terminal-id').select2();
        $("#search-txt").focus();
        var search_txt_val = $("#search-txt").val();
        $("#search-txt").val('');
        $("#search-txt").val(search_txt_val);
        $('#search-btn').click(function(){
        startDate = $('#start-date').val();
        endDate = $('#end-date').val();
            url = window.location.pathname + "?q=" + $('#search-txt').val();

            if(startDate!="" && endDate!="" )
            {
                url +=  '&startDate='+ $('#start-date').val() +'&endDate='+ $('#end-date').val();
            }

            window.location.assign(url)
        });

     $('#terminal-id').change(function(){
             var terminalId = $("#terminal-id").val();
             var retailerId = "";

             var selectedAll = $("#terminal-id :selected").text();
                 if (selectedAll.includes("ALL"))
                 {
                    retailerId = terminalId;
                    terminalId = ""
                    if(retailerId!="")
                    {
                     url =window.location.pathname +'?retailer-id='+ retailerId;
                    }
                 }

                  if(terminalId!="")
                    {
                     url = window.location.pathname + '?terminal-id='+ terminalId;
                    }
              window.location.assign(url)
        });

        $('#period').change(function() {
            period_val = $(this).val();
            url = window.location.pathname + '?filter=' + period_val.replace(' ', '-');
            {% if q %}
                url += "&q={{ q }}";
            {% endif %}
            window.location.assign(url)
        });

        $("#search-txt").keypress(function(event) {
            if (event.which == 13) {
               q();
            }
         });

        $('#csv-download').click(function()
        {
            url = "{% url "user:terminal-csv" %}" + window.location.search;
            window.location.assign(url)
        });
         var startDate = $('#start-date').val();
         var endDate = $('#end-date').val();
         var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
        $('#start-date').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            format: 'yyyy-mm-dd',

            maxDate: function () {
            return $('#end-date').val();
            }
        }).on('change', function (ev)
         {
            var start = $("#start-date").val();
            var startD = new Date(start);
            var end = $("#end-date").val();
            var endD = new Date(end);
            var diff = parseInt((endD.getTime()-startD.getTime())/(24*3600*1000));

            $("#days").val(diff);

            if(diff>31)
            {
               alert("date difference is greater than 31");
               $('#start-date').val("");
            }
         });

        $('#end-date').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            format: 'yyyy-mm-dd',

            minDate: function () {
                return $('#start-date').val();
            }
        }).on('change', function (ev)
         {
            var start = $("#start-date").val();
            var startD = new Date(start);
            var end = $("#end-date").val();
            var endD = new Date(end);
            var diff = parseInt((endD.getTime()-startD.getTime())/(24*3600*1000));

            $("#days").val(diff);

            if(diff>31)
            {
               alert("date difference is greater than 31");
               $('#end-date').val("");
            }
         });
    });
</script>
{% endblock %}