{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %} Dashboard {% endblock %}


{% block content %}

    {% if request.user.zr_admin_user.role.name != "RETAILER" %}
    <div class="content-wrapper scrollbar scrollbar-black bordered-black">
        <div style="margin-bottom: 40px;background-color: #333333;" class="alert bg-success alert-icon-left mb-2" role="alert">
      <p style="color:#fff;display: flex;" class="announcement"><i class="fa-2x fa fa-bullhorn" aria-hidden="true"></i>&nbsp;&nbsp;<span><b>Announcement</b></span>  &nbsp; 
      <marquee onmouseover="this.stop()" onmouseout="this.start()" style="color:#fff">Transfer Money with us on Higher commission , For more information call us at 022- 61271471.&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;सूचना: अब आप Axis Bank CDM Card के माध्यम से Axis Bank मे निशुल्क पैसे जमा कर सकते है,  
 अन्यथा आपसे प्रति 1000/- रूपए पे 4/- रुपए शुल्क  लिया जाएगा |
 अधिक जानकारी के लिए कंपनी प्रतिनिधि के साथ संपर्क करे या हमें 022-61271471 इस नंबर पर कॉल करे|&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Notice : Free cash deposit is only allowed through Axis CDM card else you will be charged Rs 4 per 1000. For more information contact Zrupee Sales Manager or call us at 022-61271471.</marquee>
    </div>
        <p class="head-right">Dashboard</p>
        <div class="text-center center item active">
    <!-- <figure><img class="center" src="/static/images/aeps6.png" style="height: 250px;border-radius: 15px" alt="AePS Live!"></figure> -->
</div>
            <div class="row">
                <div class="col-6 col-lg-2 mt-2">
                    <input id="start-date" name="startDate" value="{{startDate}}" placeholder="From" data-toggle="tooltip" data-placement="top" title="Commission Created: From"/>
                </div>
                <div class="col-6 col-lg-2 mt-2">
                    <input id="end-date" name="endDate" value="{{endDate}}" placeholder="To" data-toggle="tooltip" data-placement="top" title="Commission Created: To"/>
                </div>
                <div class="col-2 col-lg-1 mt-2">
                    <button class="btn btn-outline-dark" type="button" id="search-btn" data-toggle="tooltip" data-placement="top" title="Search">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                <div class="col-2 col-lg-1 mt-2">
                    <a href="{% url 'user:dashboard' %}" data-toggle="tooltip" data-placement="top" title="Clear Filters">
                        <img src="{% static 'images/clearfilter.png' %}" height="30">
                    </a>
                </div>
               <!-- <div class="col-2 col-lg-1 mt-2 row-float-right" data-toggle="tooltip" data-placement="top" title="Download CSV">
                    <img src="https://png.icons8.com/ios/50/000000/export-csv.png" data-toggle="modal" data-target="#get_email_modal" height="30" id="csv-download" class="float-right"
                     style="cursor: pointer;">
                </div> -->
            </div>
            <br>
            <!-- Icon Cards -->
            <div class="row" style="margin-bottom: 0.1rem">
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card bg-light mb-3">
                        <div class="card-header">Total Commission</div>
                        <div class="card-body">
                            <h5 class="card-title">Unsettled</h5>
                            <p class="card-text">INR {{ total_commission }}</p>
                        </div>
                    </div>
                </div>
                {% if total_merchants %}
                    <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="card bg-light mb-3">
                            <div class="card-header">Merchants</div>
                            <div class="card-body">
                                <p class="card-text">Total : {{ total_merchants }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if is_user_superuser %}
                <div class="col-xl-4 col-sm-6 mb-3">
                    <div class="card bg-light">
                        <div class="card-header">
                            Systemwide Balance
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                Zrupee Wallet Balance
                            </h5>
                            <p class="card-text">INR {{ zrupee_wallet_balance | floatformat:2 }}</p>
                            <hr>
                            <h5 class="card-title">
                                Eko Wallet Balance
                            </h5>
                            <p class="card-text">INR {{ eko_wallet_balance }}</p>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if not is_user_superuser %}
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card bg-light">
                        <div class="card-header">
                            Balance
                        </div>
                        <div class="card-body">
                            <!--<h5 class="card-title">-->
                                <!--DMT Balance-->
                            <!--</h5>-->
                            <p class="card-text">INR {{ user_wallet.dmt_balance | floatformat:2 }}</p>
                            <!--<hr>-->
                            <!--<h5 class="card-title">-->
                                <!--Non-DMT Balance-->
                            <!--</h5>-->
                            <!--<p class="card-text">INR {{ user_wallet.non_dmt_balance | floatformat:2 }}</p>-->
                        </div>
                    </div>
                </div>

                 <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card bg-light">
                        <div class="card-header">
                            Load Money
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <button data-toggle="modal" data-target="#modal" class="btn btn-outline-primary title m-b-md downloadcsv">
                                    Request Balance
                                </button>
                            </div>
                            <div class="card-text">
                                <button data-toggle="modal" data-target="#top_up_modal" class="btn btn-outline-primary title m-b-md downloadcsv mt-3">
                                    Top-Up
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-xl-4 col-sm-6 mb-3">
                    <div class="card bg-light">
                        <div class="card-header">
                            Total Transactions
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Successful</h5>
                            <table class="card-text table table-condensed">
                                <tbody>
                                    <tr>
                                        <td style="border-top:none;">DMT</td>
                                        <td style="border-top:none;">{{ successful_dmt_transactions }}</td>
                                    </tr>
                                    <tr>
                                        <td>Bills</td>
                                        <td>{{ successful_bill_pay_transactions }}</td>
                                    </tr>
                                    <tr>
                                        <td>Recharges</td>
                                        <td>{{ successful_recharge_transactions }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr>
                            <h5 class="card-title">Pending+Failed</h5>
                            <table class="card-data table table-condensed">
                                <tbody>
                                    <tr>
                                        <td style="border-top:none;">DMT</td>
                                        <td style="border-top:none;">{{ pending_failure_dmt_transactions }}</td>
                                    </tr>
                                    <tr>
                                        <td>Bills</td>
                                        <td>{{ pending_failure_bill_pay_transactions }}</td>
                                    </tr>
                                    <tr>
                                        <td>Recharges</td>
                                        <td>{{ pending_failure_recharge_transactions }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-sm-6 mb-3">
                    <div class="card bg-light" >
                        <div class="card-header">
                            Successful Transactions Value
                        </div>
                        <div class="card-body">
                            <table class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <td style="border-top:none;">DMT</td>
                                        <td style="border-top:none;">INR {{ dmt_transaction_value }}</td>
                                    </tr>
                                    <tr>
                                        <td>Bills</td>
                                        <td>INR {{ bill_pay_transaction_value }}</td>
                                    </tr>
                                    <tr>
                                        <td>Recharges</td>
                                        <td>INR {{ recharge_transaction_value }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-sm-6 mb-3" style="height: 100%;">
                    <div class="card bg-light">
                        <div class="card-header">
                            Commissions Value
                        </div>
                        <div class="card-body">
                            <table class="table table-condensed">
                                <tbody>
                                <tr>
                                    <td style="border-top:none;">DMT</td>
                                    <td style="border-top:none;">INR {{ dmt_commission_value }}</td>
                                </tr>
                                <tr>
                                    <td>Bills</td>
                                    <td>INR {{ total_bill_pay_commission_value }}</td>
                                </tr>
                                <tr>
                                    <td>Recharges</td>
                                    <td>INR {{ total_recharge_commission_value }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% if total_payment_request %}
            <div class="row" style="margin-bottom: 2.5rem">
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card">
                    <span class="card-header">
                            Payment Requests</span>
                        <span class="card-data text-right spanAlignment">
                            {{ total_payment_request }}</span>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    {% endif %}
    {% if request.user.zr_admin_user.role.name == "RETAILER" %}
        <div class="content-wrapper scrollbar scrollbar-black bordered-black">
            <p class="head-right">Transaction History</p>

            {% if no_payments %}
                <div class="alert alert-danger" id="alert_msg" style="text-align:center">{{ no_payments }}</div>
            {% endif %}
            <div class="col-md-12" >
                <div class="row scroll">
                    <div style="width: 100%;">
                        <table class="table table-hover table-data">
                            <tr style="border-bottom-style: solid;">
                                <th>Id</th>
                                <th>Bill Number</th>
                                <th>Amount</th>
                                <th>Discount</th>
                                <th>State</th>
                                <th>Create Date</th>
                                <th>Update Date</th>
                                <th>Name</th>
                            </tr>
                            {% for payment in payments %}
                                <tr>
                                    <td>{{ payment.id }}</td>
                                    <td>{{ payment.billnumber }}</td>
                                    <td>{{ payment.amount }}</td>
                                    <td>{{ payment.discount }}</td>
                                    <td>{{ payment.state }}</td>
                                    <td>{{ payment.createdat }}</td>
                                    <td>{{ payment.updatedat }}</td>
                                    <td>{{ payment.name }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <br>
            </div>
        </div>
    {% endif %}

    <!-- Modal HTML Markup -->
    <div id="modal" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #e2e2e2;">
                    <h1 class="modal-title" style="font-size: 1.5rem;font-weight: bold;line-height: 2rem;">Request Balance</h1>
                </div>
                <div class="modal-body">
                    <div id="modal_message" tabindex='1'></div>
                    <form class="form-horizontal" method="POST" id="challan_request_form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input id="from_bank" name="from_bank" value="100" hidden>
                        <input id="from_account_no" name="from_account_no" value="0" hidden>

                        <div class="row">
                             <div class="form-group col-6 col-sm-6">
                                <label class="control-label"><b>To bank</b><span style="color: red">*</span></label>
                                <div>
                                    <select id="to_bank" name="to_bank" class="form-control">
                                        {% for b in bank %}
                                            <option value="{{ b.pk }}">{{ b.bank_name }}</option>
                                        {% endfor %}
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-sm-6" id="to_account_no_form"  style="display:none">
                                <label class="control-label"><b>To bank(Others)</b><span style="color: red">*</span></label>
                                <div>
                                    <select id="to_bank_other" name="to_bank_other" class="form-control">
                                        {% for b in bank_all %}
                                            <option value="{{ b.pk }}">{{ b.bank_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>


                            <div class="form-group col-sm-6">
                                <label class="control-label"><b>To Account Number</b><span style="color: red">*</span></label>
                                <div>
                                    <input type="text" class="form-control" name="to_account_no" id="to_account_no" style="box-shadow: 0px 0px;border-style: solid;" required>
                                </div>
                            </div>

                        </div>
                        <div class="row" >
                            <div class="form-group col-sm-6" hidden>
                                <label class="control-label"><b>Enter Amount ₹</b><span style="color: red">*</span></label>
                                <div>
                                    <input type="number" class="form-control" name="amount" id="amount"
                                           placeholder="INR " value="0">
                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label class="control-label"><b>Enter Amount ₹</b><span style="color: red">*</span></label>
                                <div>
                                    <input type="number" class="form-control" name="dmt_amount" id="dmt_amount"
                                           placeholder="INR ">
                                </div>
                            </div>
                        </div>

                        <div class="row" >
                            <div class="form-group col-sm-6" hidden>
                                <label class="control-label"><b>Non DMT Amount ₹</b><span style="color: red">*</span></label>
                                <div>
                                    <input type="number" class="form-control" name="non_dmt_amount" id="non_dmt_amount"
                                           placeholder="INR " value="0" style="box-shadow: 0px; 0px">
                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label class="control-label"><b>Payment Mode</b><span style="color: red">*</span></label>
                                <div>
                                    <select type="text" class="form-control" name="payment_mode" id="payment_mode" style="box-shadow: 0px 0px;font-size:80%">
                                        <option>Please Select</option>
                                        {% for mod in payment_mods %}
                                        <option value="{{ mod.id }}">{{ mod.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row" >
                            <div class="form-group col-sm-6">
                                <label class="control-label"><b>Reference Id</b><span style="color: red">*</span></label>
                                <div>
                                    <input type="text" class="form-control" style="box-shadow: 0px 0px;border-style: solid;" required name="ref_no" id="ref_no" required>
                                </div>
                            </div>
                            <input type="text" id="document" name="document" value="" hidden>
                            <p><small><span style="color: red">*</span> Indicates required field.</small></p>
                        </div>
                        <div class="row" >
                            <div class="form-group col-sm-6"></div>
                            <div class="form-group col-sm-6">
                                <button type="submit" id="submit_request" class="btn btn-outline-success float-right submit_request downloadcsv">
                                    Request
                                </button>
                                <button type="button" class="btn btn-outline-danger float-right mr-2" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>

                    <div class="alert alert-danger" id="alert_msg" style="display:none;">
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- Modal Top-Up -->
    <div id="top_up_modal" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #e2e2e2;">
                    <h1 class="modal-title" style="font-size: 1.5rem;font-weight: bold;line-height: 2rem;">Top Up</h1>
                </div>
                <div class="modal-body">

                    <div id="top_up_modal_message" tabindex='1'></div>
                    <form class="form-horizontal" method="POST" id="topup_request_form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label class="control-label"><b>To User</b></label>
                                <div>
                                    <select id="from_user" name="from_user" class="form-control" required style="padding-left:5px">
                                        {% for zr_user in to_list %}
                                            <option value="{{ zr_user.id }}" >{{zr_user.first_name }} {{ zr_user.last_name|default_if_none:""}} ({{ zr_user.mobile_no|default_if_none:""}})</option>
                                        {% endfor %}
                                    </select>
                                    {% if topup_form.from_user.errors %}
                                            {{ topup_form.from_user.errors }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group col-sm-6" hidden>
                                <label class="control-label"><b>Type</b></label>
                                <div>
                                    <select id="type" name="type" required style="padding-left:5px" class="form-control" >
                                        <option value="">-----------</option>
                                        <option value="DMT" selected>DMT</option>
                                        <option value="NONDMT">NON DMT</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label class="control-label"><b>Amount ₹</b></label>
                                <div>
                                    {{ topup_form.amount|attr:"id:amount"|attr:"class:form-control padding-left-5"|attr:"placeholder:INR !important" }}
                                    {% if topup_form.amount.errors %}
                                        {{ topup_form.amount.errors }}
                                    {% endif %}

                                    {% if topup_form.dmt_amount.errors %}
                                        {{ topup_form.dmt_amount.errors }}
                                    {% endif %}

                                    {% if topup_form.non_dmt_amount.errors %}
                                        {{ topup_form.non_dmt_amount.errors }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>


                        <div class="row container">
                            <div class="form-group col-sm-12">
                                <button type="submit" id="top_up_submit_request" class="btn btn-outline-success float-right submit_request downloadcsv">
                                    Top Up
                                </button>
                                <button type="button" class="btn btn-outline-danger float-right mr-2" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- /.top_up_modal -->


    <!-- Modal to get Email -->
    <div id="get_email_modal" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #e2e2e2;">
                    <h1 class="modal-title" style="font-size: 1.5rem; font-size: 1.5rem;font-weight: bold;line-height: 2rem;padding-left: 12px;">Send report as mail</h1>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal" method="POST" id="report_mail_form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input hidden name="startDate" value="{{ request.GET.startDate }}">
                        <input hidden name="endDate" value="{{ request.GET.endDate }}">
                        <div class="row" style="padding-top: 25px;">
                            <div class="form-group col-sm-12">
                                <label class="control-label"><b>Email list</b></label>
                                <div>
                                    <input type="text" class="form-control" placeholder="Comma separated email list" name="email" id="email_list" style="box-shadow: 0px 0px;border-style: solid;" required>
                                </div>
                            </div>
                        </div>
                        <div class="row container" >
                            <div class="form-group col-sm-4">
                                <button type="submit" id="mail_report" class="btn btn-outline-success submit_request downloadcsv">
                                    Mail a report
                                </button>
                            </div>
                            </div>
                        </div>
                    </form>

                    <div class="alert alert-danger" id="alert_msg" style="display:none;">
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <script>
        $('#to_bank').select2({ dropdownAutoWidth : true });
        $('#payment_mode').select2({ dropdownAutoWidth : true });
        $('#from_user').select2({ dropdownAutoWidth : true });
        $('#type').select2({ dropdownAutoWidth : true });

        $('#search-btn').click(function()
        {
            startDate = $('#start-date').val();
            endDate = $('#end-date').val();
            search = $('#search-txt').val();
            if(startDate!="" && endDate!="" )
                {
                    //window.location.assign('{% url "user:dashboard" %}?period=today')
                    url =window.location.pathname +'?startDate='+ $('#start-date').val() +'&endDate='+ $('#end-date').val();
                }
            window.location.assign(url)
        });

     var startDate = $('#start-date').val();
         var endDate = $('#end-date').val();
         var today = new Date(new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate());
        $('#start-date').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            format: 'yyyy-mm-dd',

            maxDate: function () {
                return new Date($('#end-date').val()) == '' ? today: ( new Date($('#end-date').val()) < today ? $('#end-date').val() : today);
            }
        }).on('change', function (ev)
         {

            var start = $("#start-date").val();
            var startD = new Date(start);
            var end = $("#end-date").val();
            var endD = new Date(end);
            var diff = parseInt((endD.getTime()-startD.getTime())/(24*3600*1000));

            $("#days").val(diff);

            if(diff>31)
            {
               //alert("date difference is greater than 31");
               //$('#start-date').val("");
            }
         });

         $('#end-date').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            format: 'yyyy-mm-dd',

            minDate: function () {
                return $('#start-date').val();
            },  maxDate: function () {
                return today;
            }
        }).on('change', function (ev)
         {

            var start = $("#start-date").val();
            var startD = new Date(start);
            var end = $("#end-date").val();
            var endD = new Date(end);
            var diff = parseInt((endD.getTime()-startD.getTime())/(24*3600*1000));

            $("#days").val(diff);

            if(diff>31)
            {
               //alert("date difference is greater than 31");
               //$('#end-date').val("");
            }
         });


{#        $('#csv-download').click(function () {#}
{#            url = "{% url 'user:get-report-excel' %}" + window.location.search;#}
{#            console.log(url)#}
{#            window.location.assign(url)#}
{#        });#}
    </script>
{% endblock %}


{% block extrascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script>
        // using jQuery
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        function bank_account() {
            var bank_account = JSON.parse('{{bank_account | escapejs }}');
            var bankVal = $('#to_bank').val();
            var code;
            {% for b in bank %}
               if ( bankVal == "{{ b.pk }}") {
                   code = '{{ b.bank_code }}'
                   $('#to_account_no_form').hide();
               }
            {% endfor %}

            $('#to_account_no').val(bank_account[code]);
            if($('#to_bank').val() == 'Other') {
                $('#to_account_no_form').show();
            } else {
                $('#to_account_no_form').hide();
            }
        }

        $(document).ready(bank_account);

        $('body').on('change', '#to_bank', bank_account);

        jQuery.validator.addMethod("dmt_non_dmt_sum_valid", function(value, element, param) {
            non_dmt_val = parseInt($('#non_dmt_amount').val())
            dmt_val = parseInt($('#dmt_amount').val())
            amount_val = parseInt($('#amount').val())

            if(non_dmt_val + dmt_val == amount_val) {
                $('#alert_msg').html("")
                $('#alert_msg').hide()
                return true
            } else {
                $('#alert_msg').html("DMT and NON DMT amount total should be equal to amount")
                $('#alert_msg').show()
                return false
            }

        }, function(data, data2, data3) {

        });

        var challan_request_form = $('#challan_request_form');
        var sign_in_error = $('.alert-danger', challan_request_form);
        var sign_in_success = $('.alert-success', challan_request_form);
        rules = {
            type: {
                required: true
            },
            payment_mode: {
                required: true
            },
            amount: {
                required: true,
                min: 0
            },
            document: {
                required: true
            },
            to_bank: {
                required: true
            },
            from_bank: {
                required: true
            },
            to_account_no: {
                required: true
            },
            from_account_no: {
                required: true
            },
            dmt_amount: {
                required: true
            },
            non_dmt_amount: {
                required: false
            }
        };

        $('#alert_msg').hide()
        $('#alert_msg').html('')
        challan_request_form.validate({
            rules: rules,
            messages: {
                "email": {
                    // required: "Email is required",
                }
            },
            invalidHandler: function (event, validator) { //display error alert on form submit
                sign_in_success.hide();
                sign_in_error.show();
            },
            highlight: function (element) { // hightlight error inputs
                $(element)
                    .closest('.form-group').addClass('has-error'); // set error class to the control group
                $(element)
                    .closest('.help-block').removeClass('ok'); // display OK icon
                $(element)
                    .closest('.control-group').removeClass('success').addClass('error'); // set error class to the control group
                $(element)
                    .closest('.form-group').removeClass('has-success').addClass('has-error');
                $(element)
                    .closest('.col-md-4').find('.suc').hide();
                $(element)
                    .closest('.col-md-4').find('.err').show();
                $(element)
                    .closest('.input-icon').find('.err').show();
                $(element)
                    .closest('.input-icon').find('.suc').hide();
            },
            unhighlight: function (element) { // revert the change dony by hightlight
                $(element)
                    .closest('.control-group').removeClass('has-error'); // set error class to the control group
                $(element)
                    .closest('.form-group').removeClass('has-error').addClass('has-success'); // set error class to the control group
                $(element)
                    .closest('.col-md-4').find('.err').hide();
                $(element)
                    .closest('.col-md-4').find('.suc').show();
                $(element)
                    .closest('.input-icon').find('.err').hide();
                $(element)
                    .closest('.input-icon').find('.suc').show(startDate);
            },
            submitHandler: function (form) {
                <!-- AJAX Call -->
                $('#modal_message').html("");

                // Create an FormData object
                var data = new FormData($('#challan_request_form')[0]);
                if ( $('#to_bank_other').val() != '' ) {
                    data.set('to_bank', $('#to_bank_other').val());
                }
                data.delete('to_bank_other');
                //for (var pair of data.entries()) {
                //  console.log(pair[0]+ ', ' + pair[1]);
                //}
                $('#submit_request').prop('disabled', true);
                $('#submit_request').addClass('disabled');
                $.ajax({
                    type: "POST",
                    enctype: 'multipart/form-data',
                    processData: false,
                    contentType: false,
                    url: '/payment_request/generate_payment_request/',
                    data: data,
                    success: function (data) {
                        $('#modal_message').html(data.message);
                        if(data.success) {
                            setTimeout(function () {
                                window.location.reload();
                            }, 1000);
                        }
                        else {
                            setTimeout(function () {
                                $('#modal_message').html("");
                            }, 2000);
                            $('#submit_request').prop('disabled', false);
                            $('#submit_request').removeClass('disabled');
                        }
                    },
                    error: function (data) {
                        $('#modal_message').html(data.message);
                        $('#submit_request').prop('disabled', false);
                    }
                });
                <!-- AJAX Call -->
            },
            success: function (label) {
                label
                    .addClass('valid').addClass('help-block ok') // mark the current input as valid and display OK icon
                    .closest('.control-group').removeClass('error').addClass('success'); // set success class to the control group
                label
                    .closest('.form-group').removeClass('has-error').addClass('has-success');
                $(this)
                    .closest('.col-md-4').find('.err').hide();
                $(this)
                    .closest('.col-md-4').find('.suc').show();
                label
                    .closest('.form-group').removeClass('has-error'); // set success class to the control group
                label
                    .closest('.form-group').removeClass('has-error'); // set success class to the control group

            },
            errorPlacement: function (error, element) {
            }
        });

        jQuery.validator.addMethod("separated_emails", function(value, element) {
            if (this.optional(element)) {
                return true;
            }

            var mails = value.split(/,|;/);
            for(var i = 0; i < mails.length; i++) {
                // taken from the jquery validation internals
                if (!/^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/.test(mails[i])) {
                    return false;
                }
            }
            return true;
        }, "Please specify a email address or a comma separated list of addresses");

        var report_mail_form = $('#report_mail_form');
        var report_mail_error = $('.alert-danger', report_mail_form);
        var report_mail_success = $('.alert-success', report_mail_form);
        rules = {
            email: {
                required: true,
                separated_emails:true
            }
        };

        $('#alert_msg')
            .hide()
            .html('');
        report_mail_form.validate({
            rules: rules,
            messages: {
                "email": {
                    required: "Email is required to send report"
                }
            },
            invalidHandler: function (event, validator) { //display error alert on form submit
                report_mail_success.hide();
                report_mail_error.show();
            },
            highlight: function (element) { // hightlight error inputs
                $(element)
                    .closest('.form-group').addClass('has-error'); // set error class to the control group
                $(element)
                    .closest('.help-block').removeClass('ok'); // display OK icon
                $(element)
                    .closest('.control-group').removeClass('success').addClass('error'); // set error class to the control group
                $(element)
                    .closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element) { // revert the change dony by hightlight
                $(element)
                    .closest('.control-group').removeClass('has-error'); // set error class to the control group
                $(element)
                    .closest('.form-group').removeClass('has-error').addClass('has-success'); // set error class to the control group
            },
            submitHandler: function (form) {
                <!-- AJAX Call -->
                $('#modal_message').html("");

                // Create an FormData object
                var data = new FormData($('#report_mail_form')[0]);
                $('#submit_request')
                    .prop('disabled', true)
                    .addClass('disabled');
                $.ajax({
                    type: "POST",
                    enctype: 'multipart/form-data',
                    processData: false,
                    contentType: false,
                    url: '/user/mail_report/',
                    data: data,
                    success: function (data) {
                        $('#modal_message').html(data.message);
                        if(data.success) {
                            setTimeout(function () {
                                window.location.reload();
                            }, 1000);
                        }
                        else {
                            setTimeout(function () {
                                $('#modal_message').html("");
                            }, 2000);
                            $('#submit_request').prop('disabled', false);
                            $('#submit_request').removeClass('disabled');
                        }
                    },
                    error: function (data) {
                        $('#modal_message').html(data.message);
                        $('#submit_request').prop('disabled', false);
                    }
                });
                <!-- AJAX Call -->
            },
            success: function (label) {
                label
                    .addClass('valid').addClass('help-block ok') // mark the current input as valid and display OK icon
                    .closest('.control-group').removeClass('error').addClass('success'); // set success class to the control group
                label
                    .closest('.form-group').removeClass('has-error').addClass('has-success');
                $(this)
                    .closest('.col-md-4').find('.err').hide();
                $(this)
                    .closest('.col-md-4').find('.suc').show();
                label
                    .closest('.form-group').removeClass('has-error'); // set success class to the control group
                label
                    .closest('.form-group').removeClass('has-error'); // set success class to the control group

            },
            errorPlacement: function (error, element) {
            }
        });


        $("#payment_mode").change(function(){
            var payment_mode = $('#payment_mode option:selected').text();
            if(payment_mode == 'CASH') {
                $("#ref_no").prop('required',false);
            } else {
                $("#ref_no").prop('required',true);
            }
        });

        var topup_request_form = $('#topup_request_form');

        topup_request_form.validate({

            submitHandler: function (form) {
                <!-- AJAX Call -->
                $('#top_up_modal_message').html("");
                // Create an FormData object
                var data = new FormData($('#topup_request_form')[0]);
                $('#submit_request').prop('disabled', true);
                $('#submit_request').addClass('disabled');
                $('#top_up_submit_request').prop('disabled', true);
                $('#top_up_submit_request').addClass('disabled');
                $.ajax({
                    type: "POST",
                    enctype: 'multipart/form-data',
                    processData: false,
                    contentType: false,
                    url: '/payment_request/generate_topup_request/',
                    data: data,
                    success: function (data) {
                        $('#top_up_modal_message').html(data.message);
                        if(data.success) {
                            setTimeout(function () {
                                window.location.reload();
                            }, 1000);
                        }
                        else {
                            setTimeout(function () {
                                $('#top_up_modal_message').html("");
                            }, 2000);
                            $('#submit_request').prop('disabled', false);
                            $('#submit_request').removeClass('disabled');
                        }
                    },
                    error: function (data) {
                        $('#top_up_modal_message').html(data.message);
                        $('#submit_request').prop('disabled', false);
                    }
                });
                <!-- AJAX Call -->
            },
            success: function (label) {
                label
                    .addClass('valid').addClass('help-block ok') // mark the current input as valid and display OK icon
                    .closest('.control-group').removeClass('error').addClass('success'); // set success class to the control group
                label
                    .closest('.form-group').removeClass('has-error').addClass('has-success');
                $(this)
                    .closest('.col-md-4').find('.err').hide();
                $(this)
                    .closest('.col-md-4').find('.suc').show();
                label
                    .closest('.form-group').removeClass('has-error'); // set success class to the control group
                label
                    .closest('.form-group').removeClass('has-error'); // set success class to the control group

            },
            errorPlacement: function (error, element) {
            }
        });

    </script>
{% endblock extrascripts %}
