{% extends 'base.html' %}
{% load static %}
{% block title %} Wallet List {% endblock %}

{% block content %}

<div class="content-wrapper scrollbar scrollbar-black bordered-black">
    <p class="head-right">Wallets</p>
    <div class="row rm-margin-side">

        <div class="col-12 col-lg-2 mt-2" data-toggle="tooltip" data-placement="top" title="Select User">
            <select id="user-id" name="user-id">
                <option value="-1">ALL</option>
                {% for user in user_list %}
                    <option value="{{ user.merchant.id }}" {% if user.merchant.id == user_id %}selected{% endif %}>{{ user.merchant.first_name }} {{ user.merchant.last_name|default_if_none:""}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-6 col-lg-3 mt-2 float-left">
            <input class="form-control form-control" id="search-txt" type="search" name="search" value="{{ q }}" placeholder="Search by Id, Name or Mobile">
        </div>
        <div class="col-2 col-lg-1 mt-2">
            <button class="btn btn-outline-dark" type="button" id="search-btn" data-toggle="tooltip" data-placement="top" title="Search">
                <i class="fa fa-search"></i>
            </button>
        </div>
        <div class="col-2 col-lg-1 mt-2">
            <a href="{% url 'user:wallet-list' %}" data-toggle="tooltip" data-placement="top" title="Clear Filters">
                <img src="{% static 'images/clearfilter.png' %}" height="30">
            </a>
        </div>
        <div class="col-2 col-lg-1 mt-2" data-toggle="tooltip" data-placement="top" title="Download CSV">
            <img src="{% static 'images/downloadcsv.png' %}" height="30" id="csv-download" class="float-right"
             style="cursor: pointer;">
        </div>

        
        <div class="div-width-100">
            <!--<p class="head-left">PERIOD</p>-->
            <br>
            <div class="row scroll">
                <div style="width: 100%;">
                    <table class="table table-hover table-data">
                        <tr style="border-bottom-style: solid;">
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">DOJ</th>
                            <th scope="col">Mobile</th>
                            <th scope="col">Role</th>
                            <th scope="col">Balance</th>
                            <!--<th scope="col">NON-DMT Balance</th>-->
                        </tr>
                        {% for wallet in queryset %}
                            <tr>
                                <td>{{ wallet.merchant.id }}</td>
                                <td>{{ wallet.merchant.first_name }} {{ wallet.merchant.last_name }}</td>
                                <td>{{ wallet.at_created }}</td>
                                <td>{{ wallet.merchant.mobile_no }}</td>
                                <td>{{ wallet.merchant.role.name }}</td>
                                <td>{{ wallet.dmt_balance }}</td>
                                <!--<td>{{ wallet.non_dmt_balance }}</td>-->
                            </tr>
                        {% endfor %}
                    </table>
                    {% if is_paginated %}
                    <div class="pagination">
                        {% if has_prev_page %}
                            <div class="pagination-prev">
                                <a href="{% url 'user:wallet-list' %}?{{prev_page_qs}}" class="btn btn-outline-dark">Prev</a>
                            </div>
                        {% endif %}
                        {% if has_next_page %}
                            <div class="pagination-next">
                                    <a href="{% url 'user:wallet-list' %}?{{next_page_qs}}" class="btn btn-outline-dark">Next</a>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                </div>
            </div>
            <div>
        </div>
    </div>
</div>
</div>

<script>

    $(document).ready(function(){
    $('#user-id').select2();

    $("#search-txt").focus();
    var search_txt_val = $("#search-txt").val();
    $("#search-txt").val('');
    $("#search-txt").val(search_txt_val);

    function q(){
             userId = $("#user-id").val();

             if($('#search-txt').val() != "") {
                  url = window.location.pathname + "?q=" + $('#search-txt').val();
             } else {
                  url = window.location.pathname + '?';
             }

             if(userId !="")
             {
                 url += '&user-id=' + userId
             }

             window.location.assign(url)
         }

    $('#search-btn').click(q);

    $('#user-id').change(q);

    $("#search-txt").keypress(function(event) {
        if (event.which == 13) {
           q();
        }
    });

    $('#csv-download').click(function(){
        url = "{% url "user:wallet-csv" %}" + window.location.search
        window.location.assign(url)
    })
});
</script>
{% endblock %}
